.services {
  &__index-images {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__index-images-link {
    position: relative;
    width: 100%;
    margin-bottom: 2px;
    @media (min-width: 768px) {
      width: calc(50% - 1px);
    }
    &:nth-child(odd) {
      @media (min-width: 768px) {
        margin-right: 2px;
      }
    }
    &:hover {
      .services__index-images-icon {
        background-color: rgba(#1a1a1a, 0.7);
      }
      .services__index-images-content {
        background-color: rgba(255,0,0, 0.5);
      }
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__index-images-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color $slow ease-in-out;
  }
  &__index-images-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: rgba($red, 0.7);
    transition: background-color $slow ease-in-out;
  }
  &__index-images-title {
    color: $white;
    font-size: 18px;
    line-height: 50px;
    @media (min-width: 768px) {
      font-size: 22px;
      line-height: 60px;
    }
  }


  &__insulation-images {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    counter-reset: insulation-images;
    @media (min-width: 768px) {

    }
  }
  &__insulation-images-link {
    position: relative;
    width: 100%;
    height: 64px;
    color: #333;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    counter-increment: insulation-images;
    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      padding-left: 60px;
    }
    @media (min-width: 768px) {
      width: calc(33.3333% - 2px);
      height: auto;
      margin-right: 2px;
      margin-bottom: 2px;
      color: $white;
      font-size: 13px;
      line-height: 18px;
    }
    &::before {
      @media (max-width: 767px) {
        position: absolute;
        left: 19px;
        color: #b4b4b4;
        font-size: 36px;
        font-weight: 300;
        text-transform: uppercase;
        content: counter(insulation-images);
      }
    }
    &:nth-child(odd) {
      @media (max-width: 767px) {
        background-color: #f0f0f0;
      }
    }
    &:nth-child(3n + 3) {
      @media (min-width: 768px) {
        margin-right: 0;
      }
    }
    img {
      display: none;
      width: 100%;
      height: auto;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
  &__insulation-images-title {
    @media (min-width: 768px) {
      position: absolute;
      left: 10px;
      bottom: 10px;
    }
  }
}
