.products {
  &__item {
    margin-bottom: 40px;
    padding: 20px 20px 0;
    background-color: #f0f0f0;
    @media (max-width: 767px) {
      margin-left: -20px;
      margin-right: -20px;
    }
    @media (min-width: 768px) {
      margin-bottom: 50px;
      padding: 20px;
    }
    @media (min-width: 1440px) {
      padding: 30px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: #333;
    font-size: 18px;
    line-height: 24px;
    @media (min-width: 768px) {
      font-size: 22px;
    }
  }
  &__link {
    color: #333;
  }
  &__rating {
    display: flex;
    @media (max-width: 767px) {
      align-items: flex-end;
      padding-bottom: 5px;
    }
    @media (min-width: 768px) {
      padding-top: 6px;
    }
    .rating-stars__star,
    .rating-stars__star._active {
      @media (max-width: 767px) {
        width: 15px;
        height: 15px;
        background-size: 15px;
      }
    }
  }
  &__votes {
    margin-left: 3px;
    color: #666;
    font-size: 13px;
    @media (min-width: 768px) {
      margin-left: 14px;
      font-size: 14px;
    }
  }
  &__id {
    margin-top: 4px;
    color: #999;
    font-size: 13px;
    line-height: 24px;
    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  &__body {
    padding-top: 35px;
    @media (min-width: 768px) {
      display: flex;
    }
  }
  &__img {
    text-align: center;
    @media (min-width: 768px) {
      min-width: 260px;
    }
    img {
      width: 100%;
      height: auto;
      @media (max-width: 767px) {
        max-width: 200px;
      }
    }
  }
  &__txt {
    padding: 25px 0;
    color: #666;
    font-size: 13px;
    line-height: 20px;
    @media (min-width: 768px) {
      padding-left: 40px;
      padding-right: 45px;
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__footer {
    padding-top: 20px;
  }
}
