.tabs {
  @media (max-width: 767px) {
    margin-left: -20px;
    margin-right: -20px;
  }
  &__item {
    background-color: #fff;
    @media (min-width: 768px) {
      height: 320px;
      padding: 25px 10px 25px 25px;
      border: 1px solid #dcdcdc;
    }
    &--noscroll {
      @media (min-width: 768px) {
        height: auto;
        padding: 25px;
      }
    }
  }
}
