.subnav {
  display: none;
  margin-bottom: 30px;
  @media (min-width: 920px) {
    display: block;
  }
  &__title {
    height: 50px;
    padding-left: 25px;
    background-color: #ccc;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
  }
  &__item {
    position: relative;
    &:not(:first-child) {
      border-top: 1px solid #ddd;
    }
    &:not(:first-child)::before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: #f8f8f8;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    padding-left: 55px;
    padding-right: 5px;
    color: #333;
    background-color: #f0f0f0;
    font-size: 14px;
    &--active {
      color: $white;
      background-color: $red;
    }
    .icon {
      position: absolute;
      top: 50%;
      margin-top: -8px;
      left: 25px;
    }
  }
}
