.hero {
  position: relative;
  width: 100%;
  height: 420px;

  &__left,
  &__right {
    display: none;
    @media (min-width: 980px) {
      display: block;
      position: absolute;
      top: 50%;
      width: 50%;
      height: 400px;
      overflow: hidden;
      transform: translateY(-50%);
      filter: grayscale(100%);
    }
    @media (min-width: 1440px) {
      width: 45%;
    }
    @media (min-width: 2560px) {
      display: none;
    }
  }
  &__left {
    left: 0;
  }
  &__right {
    right: 0;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-50%);
    touch-action: manipulation;
    z-index: 1;
    @media (min-width: 980px) {
      max-width: 980px;
    }
    @media (min-width: 1440px) {
      max-width: 1170px;
    }
  }
  &__slider-item {
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position-x: 65%;
    @media (min-width: 768px) {
      background-position-x: 100%;
    }
  }
  &__slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
    @media (min-width: 768px) {
      left: 94px;
    }
    @media (min-width: 1024px) {
      left: 125px;
    }
  }
  &__slider-title {
    color: $white;
    font-size: 36px;
    line-height: 40px;
    @media (min-width: 768px) {
      font-size: 52px;
      line-height: 60px;
    }
  }
  &__slider-txt {
    max-width: 260px;
    padding: 24px 0;
    color: $white;
    font-size: 13px;
    line-height: 20px;
    @media (min-width: 768px) {
      max-width: 430px;
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__slider-btn {
    width: 160px;
  }
}
