.hero
  .hero__left
    .js-hero-slider-left
      img(src="./assets/images/slider-01.jpg", alt="")
      img(src="./assets/images/slider-01.jpg", alt="")
      img(src="./assets/images/slider-01.jpg", alt="")
      img(src="./assets/images/slider-01.jpg", alt="")
      img(src="./assets/images/slider-01.jpg", alt="")


  .hero__slider
    .js-hero-slider
      .hero__slider-item(style="background-image: url(./assets/images/slider-01.jpg)")
        .hero__slider-content
          .hero__slider-title Жилое утепление
          .hero__slider-txt Независимо от того, из какого материала построен дом, он в любом случае нуждается в правильном утеплении. Эта мера позволяет не только значительно экономить на поддержании оптимального микроклимата в помещениях зимой, но и на кондиционировании воздуха летом
          a.hero__slider-btn.btn.btn--accent(href="javascript:void(0)") Подробнее
      .hero__slider-item(style="background-image: url(./assets/images/slider-01.jpg)")
        .hero__slider-content
          .hero__slider-title Жилое утепление
          .hero__slider-txt Независимо от того, из какого материала построен дом, он в любом случае нуждается в правильном утеплении. Эта мера позволяет не только значительно экономить на поддержании оптимального микроклимата в помещениях зимой, но и на кондиционировании воздуха летом
          a.hero__slider-btn.btn.btn--accent(href="javascript:void(0)") Подробнее

      .hero__slider-item(style="background-image: url(./assets/images/slider-01.jpg)")
        .hero__slider-content
          .hero__slider-title Жилое утепление
          .hero__slider-txt Независимо от того, из какого материала построен дом, он в любом случае нуждается в правильном утеплении. Эта мера позволяет не только значительно экономить на поддержании оптимального микроклимата в помещениях зимой, но и на кондиционировании воздуха летом
          a.hero__slider-btn.btn.btn--accent(href="javascript:void(0)") Подробнее

      .hero__slider-item(style="background-image: url(./assets/images/slider-01.jpg)")
        .hero__slider-content
          .hero__slider-title Жилое утепление
          .hero__slider-txt Независимо от того, из какого материала построен дом, он в любом случае нуждается в правильном утеплении. Эта мера позволяет не только значительно экономить на поддержании оптимального микроклимата в помещениях зимой, но и на кондиционировании воздуха летом
          a.hero__slider-btn.btn.btn--accent(href="javascript:void(0)") Подробнее

      .hero__slider-item(style="background-image: url(./assets/images/slider-01.jpg)")
        .hero__slider-content
          .hero__slider-title Жилое утепление
          .hero__slider-txt Независимо от того, из какого материала построен дом, он в любом случае нуждается в правильном утеплении. Эта мера позволяет не только значительно экономить на поддержании оптимального микроклимата в помещениях зимой, но и на кондиционировании воздуха летом
          a.hero__slider-btn.btn.btn--accent(href="javascript:void(0)") Подробнее


  .hero__right
    .js-hero-slider-right
      img(src="./assets/images/slider-01.jpg", alt="")
      img(src="./assets/images/slider-01.jpg", alt="")
      img(src="./assets/images/slider-01.jpg", alt="")
      img(src="./assets/images/slider-01.jpg", alt="")
      img(src="./assets/images/slider-01.jpg", alt="")
