.rating-stars {
  display: flex;
  &__star {
    @extend .icon;
    @extend .icon--star;
    margin-right: 3px;
    background-size: cover;
    &._active {
      @extend .icon--star-active;
    }
  }
}
