.all-services {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px 60px;
  @media (min-width: 768px) {
    padding: 0 40px 73px;
  }
  @media (min-width: 1024px) {
    padding: 0 40px 100px;
  }
  @media (min-width: 1440px) {
    padding: 0 60px 100px;
  }
  &__items {
    width: 100%;
    margin-bottom: 22px;
    padding: 0 14px;
    @media (min-width: 768px) {
      width: 33.3333%;
      margin-bottom: 0;
    }
  }
  &__item {
    position: relative;
    padding-left: 14px;
    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 12px;
      left: 0;
      width: 6px;
      height: 6px;
      background-color: $red;
      border-radius: 3px;
    }
  }
  &__title {
    padding-bottom: 16px;
  }
  &__link {
    display: inline-block;
    color: $txt-color;
    font-size: 14px;
    line-height: 30px;
    &:hover {
      color: $black;
    }
  }
}
