.container.main
  .main__block.main__block--white
    h3.main__header Наши услуги
    .main__services
      a.main__services-item(href="javascript:void(0)")
        img(src="./assets/images/main-services-01.jpg", alt="Утепление ангаров")
        h4.main__services-title.title-h4 Утепление<br>ангаров
      a.main__services-item(href="javascript:void(0)")
        img(src="./assets/images/main-services-02.jpg", alt="Утепление складов")
        h4.main__services-title.title-h4 Утепление<br>складов
      a.main__services-item(href="javascript:void(0)")
        img(src="./assets/images/main-services-03.jpg", alt="Утепление кровли")
        h4.main__services-title.title-h4 Утепление<br>кровли
      a.main__services-item(href="javascript:void(0)")
        img(src="./assets/images/main-services-04.jpg", alt="Утепление теплотрасс")
        h4.main__services-title.title-h4 Утепление<br>теплотрасс
      a.main__services-item(href="javascript:void(0)")
        img(src="./assets/images/main-services-05.jpg", alt="Гидроизоляция фундамента")
        h4.main__services-title.title-h4 Гидроизоляция<br>фундамента
      a.main__services-item(href="javascript:void(0)")
        img(src="./assets/images/main-services-06.jpg", alt="Утепление вагонов и контейнеров")
        h4.main__services-title.title-h4 Утепление вагонов<br>и контейнеров
      a.main__services-item(href="javascript:void(0)")
        img(src="./assets/images/main-services-07.jpg", alt="Утепление котлов")
        h4.main__services-title.title-h4 Утепление<br>котлов
      a.main__services-item(href="javascript:void(0)")
        img(src="./assets/images/main-services-08.jpg", alt="Гидроизоляция бассейна")
        h4.main__services-title.title-h4 Гидроизоляция<br>бассейна
      a.main__services-item(href="javascript:void(0)")
        img(src="./assets/images/main-services-09.jpg", alt="Утепление других объектов")
        h4.main__services-title.title-h4 Утепление<br>других объектов


  .main__block.main__block--gray
    h3.main__header Примеры наших работы
    .cards.js-works-slider
      .cards__item
        img(src="./assets/images/main-works-01.jpg", alt="")
        .cards__body
          a.cards__title.title-h4.title-h4(href="javascript:void(0)") Утепление чердака жилого&nbsp;дома
          .cards__txt Чердак служит защитой дома от холода, влаги и палящих лучей солнца.
          .cards__info
            div Объем работ:
            div
              | 650 м
              span 2
      .cards__item
        img(src="./assets/images/main-works-02.jpg", alt="")
        .cards__body
          a.cards__title.title-h4(href="javascript:void(0)") Утепление емкостей и&nbsp;труб&nbsp;«Технониколь»
          .cards__txt Чердак служит защитой дома от холода, влаги и палящих лучей солнца.
          .cards__info
            div Объем работ:
            div
              | 3 200 м
              span 2
      .cards__item
        img(src="./assets/images/main-works-03.jpg", alt="")
        .cards__body
          a.cards__title.title-h4(href="javascript:void(0)") Утепление ангара&nbsp;«Байконур-17»
          .cards__txt Чердак служит защитой дома от холода, влаги и палящих лучей солнца.
          .cards__info
            div Объем работ:
            div
              | 17 500 м
              span 2
      .cards__item
        img(src="./assets/images/main-works-02.jpg", alt="")
        .cards__body
          a.cards__title.title-h4(href="javascript:void(0)") Утепление чердака жилого&nbsp;дома
          .cards__txt Чердак служит защитой дома от холода, влаги и палящих лучей солнца.
          .cards__info
            div Объем работ:
            div
              | 650 м
              span 2


  .main__block.main__block--white
    h3.main__header Оборудование
    .main__equipment
      .main__equipment-firm
        .main__equipment-firm-title Качество Интерскол
        .main__equipment-firm-txt Технологическая оснащенность предприятия позволила довести уровень локализации до 90%, дополнительно повысив качество и расширив ассортимент выпускаемой продукции.
        .main__equipment-firm-logo
          img(src="../assets/images/logo-interskol.png", alt="Интерскол")
      .main__equipment-slider
        .js-main-equipment-slider
          .main__equipment-slider-item
            .main__equipment-slider-img
              img(src="../assets/images/main-equipment-01.png", alt="")
            .main__equipment-slider-title Установка ППУ Интерскол 5Н100
            .main__equipment-slider-number Артикул: 170000001
            .main__equipment-slider-rating
              include ../rating-stars/rating-stars.pug
              .main__equipment-slider-votes 117
          .main__equipment-slider-item
            .main__equipment-slider-img
              img(src="../assets/images/main-equipment-02.png", alt="")
            .main__equipment-slider-title Установка ППУ Интерскол 8Н200
            .main__equipment-slider-number Артикул: 170000002
            .main__equipment-slider-rating
              include ../rating-stars/rating-stars.pug
              .main__equipment-slider-votes 194
          .main__equipment-slider-item
            .main__equipment-slider-img
              img(src="../assets/images/main-equipment-01.png", alt="")
            .main__equipment-slider-title Установка ППУ Интерскол 5Н200
            .main__equipment-slider-number Артикул: 170000003
            .main__equipment-slider-rating
              include ../rating-stars/rating-stars.pug
              .main__equipment-slider-votes 203
          .main__equipment-slider-item
            .main__equipment-slider-img
              img(src="../assets/images/main-equipment-02.png", alt="")
            .main__equipment-slider-title Установка ППУ Интерскол 8Н200
            .main__equipment-slider-number Артикул: 170000002
            .main__equipment-slider-rating
              include ../rating-stars/rating-stars.pug
              .main__equipment-slider-votes 194


  .main__block.main__block--white
    h3.main__header Использование ППУ по отраслям
    ul.main__sectors
      li.main__sectors-item
        .main__sectors-title.title-h4 Промышленность и склады
        .main__sectors-txt
          a(href="javascript:void(0)") Утепление ангаров
          | , устранение конденсата,&nbsp;
          a(href="javascript:void(0)") гидроизоляции кровель
          | , утепление цехов, защита бетонных полов
      li.main__sectors-item
        .main__sectors-title.title-h4 Животноводство
        .main__sectors-txt
          a(href="javascript:void(0)") Теплоизоляция птичников
          | , герметизация птичников, утепление коровников, свинарников и т.д.
      li.main__sectors-item
        .main__sectors-title.title-h4 Строительные фирмы
        .main__sectors-txt Утепление на всех этапах строительства, утепление от трубопровода до фасадов
      li.main__sectors-item
        .main__sectors-title.title-h4 Мясокомбинаты
        .main__sectors-txt
          a(href="javascript:void(0)") Теплоизоляция фасадов
          | , теплоизоляция перекрытий,&nbsp;
          a(href="javascript:void(0)") теплоизоляция холодильных камер
      li.main__sectors-item
        .main__sectors-title.title-h4 Хладокомбинаты
        .main__sectors-txt
          | Устранение конденсата,&nbsp;
          a(href="javascript:void(0)") теплоизоляция
          | &nbsp;камер
      li.main__sectors-item
        .main__sectors-title.title-h4 Квартиры
        .main__sectors-txt
          a(href="javascript:void(0)") Утепление балконов
          | ,&nbsp;
          a(href="javascript:void(0)") утепление потолков
      li.main__sectors-item
        .main__sectors-title.title-h4 Дома и коттеджи
        .main__sectors-txt
          a(href="javascript:void(0)") Утепление от подвала до крыши
          | ,&nbsp;
          a(href="javascript:void(0)") гидроизоляция
      li.main__sectors-item
        .main__sectors-title.title-h4 Владельцы фургонов
        .main__sectors-txt
          a(href="javascript:void(0)") Теплоизоляция термокузова
      li.main__sectors-item
        .main__sectors-title.title-h4 Добыча песка
        .main__sectors-txt
          a(href="javascript:void(0)") Заливка ППУ в полости понтонов
      li.main__sectors-item
        .main__sectors-title.title-h4 Другие отрасли
        .main__sectors-txt
          a(href="javascript:void(0)") Заливка ППУ в полости понтонов


  .main__block.main__block--dark
    h3.main__header Избранные статьи
    .cards.js-articles-slider
      .cards__item
        .cards__img
          img(src="./assets/images/main-articles-01.jpg", alt="")
        .cards__body.cards__body--red
          a.cards__title(href="javascript:void(0)") Утепление жилого дома
          .cards__txt Рассмотренные технологии подходят не только для утепления частных домов и дач, а и квартир.
          .cards__date 31 января 2017
      .cards__item
        .cards__img
          img(src="./assets/images/main-articles-02.jpg", alt="")
        .cards__body.cards__body--red
          a.cards__title(href="javascript:void(0)") Утепление легкой конструкции
          .cards__txt Рассмотренные технологии подходят не только для утепления частных домов и дач, а и квартир.
          .cards__date 28 января 2017
      .cards__item
        .cards__img
          img(src="./assets/images/main-articles-03.jpg", alt="")
        .cards__body.cards__body--red
          a.cards__title(href="javascript:void(0)") Утепление чердака жилого дома
          .cards__txt Рассмотренные технологии подходят не только для утепления частных домов и дач, а и квартир.
          .cards__date 03 января 2017
      .cards__item
        .cards__img
          img(src="./assets/images/main-articles-04.jpg", alt="")
        .cards__body.cards__body--red
          a.cards__title(href="javascript:void(0)") Утепление жилого дома
          .cards__txt Рассмотренные технологии подходят не только для утепления частных домов и дач, а и квартир.
          .cards__date 31 января 2017


  .main__block.main__block--white
    .all-services
      ul.all-services__items
        li.all-services__title.title-h4 Частное домостроение
        li.all-services__item
          a.all-services__link(href="javascript:void(0)") Утепление дома
        li.all-services__item
          a.all-services__link(href="javascript:void(0)") Доказанные плюсы ППУ
        li.all-services__item
          a.all-services__link(href="javascript:void(0)") Галерея примеров
        li.all-services__item
          a.all-services__link(href="javascript:void(0)") Видеоролики
      ul.all-services__items
        li.all-services__title.title-h4 Промышленное утепление
        li.all-services__item
          a.all-services__link(href="javascript:void(0)") Все об утеплении
        li.all-services__item
          a.all-services__link(href="javascript:void(0)") Утепление ангаров и складов
        li.all-services__item
          a.all-services__link(href="javascript:void(0)") Фотогалерея
        li.all-services__item
          a.all-services__link(href="javascript:void(0)") Отзывы
      ul.all-services__items
        li.all-services__title.title-h4 Технологии ППУ
        li.all-services__item
          a.all-services__link(href="javascript:void(0)") Гидроизоляция полимочевиной
        li.all-services__item
          a.all-services__link(href="javascript:void(0)") Защита от корозии
