.main {
  &__block {
    padding-top: 31px;
    @media (min-width: 768px) {
      padding-top: 73px;
    }
    &--white {
      background-color: $white;
    }
    &--gray {
      padding-bottom: 60px;
      background-color: #dcdcdc;
    }
    &--dark {
      padding-bottom: 60px;
      background-color: #333;
    }
  }


  &__header {
    margin: 0 0 6px;
    padding: 0 20px;
    color: $main-header-color;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    @media (min-width: 768px) {
      margin: 0 0 13px;
      font-size: 32px;
    }
    .main__block--dark & {
      color: $white;
    }
  }


  &__services {
    margin-top: 20px;
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  &__services-item {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    @media (min-width: 768px) {
      width: 50%;
    }
    @media (min-width: 1024px) {
      width: 33.3333%;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($red, 0);
      transition: background-color $slow;
    }
    &:hover {
      &::after {
        background-color: rgba($red, 0.5);
      }
      img {
        transform: scale(1);
      }
    }
    &:nth-child(n + 9) {
      @media (max-width: 1023px) {
        display: none;
      }
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      transform: scale(1.1);
      transition: transform 1s;
    }
  }
  &__services-title {
    position: absolute;
    left: 20px;
    bottom: 16px;
    margin: 0;
    color: $white;
    z-index: 1;
    @media (min-width: 768px) {
      left: 25px;
      bottom: 25px;
    }
  }


  &__equipment {
    padding: 20px;
    @media (min-width: 768px) {
      padding: 30px 30px 0;
    }
    @media (min-width: 1024px) {
      display: flex;
      padding: 30px 20px 0 0;
    }
    @media (min-width: 1440px) {
      padding: 30px 30px 0 0;
    }
  }
  &__equipment-firm {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: $red;
    @media (min-width: 768px) {
      height: 230px;
    }
    @media (min-width: 1024px) {
      width: 240px;
      height: 400px;
      margin-right: 20px;
      margin-bottom: 0;
    }
    @media (min-width: 1440px) {
      width: 285px;
      margin-right: 30px;
    }
    &::before {
      display: block;
      position: absolute;
      content: "";
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      border-width: 1px;
      border-style: solid;
      border-color: rgba($white, 0.7);
    }
  }
  &__equipment-firm-title {
    color: $white;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
  }
  &__equipment-firm-txt {
    color: $bg-color;
    font-size: 13px;
    line-height: 20px;
    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 22px;
    }
  }


  &__equipment-slider {
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    touch-action: manipulation;
    @media (min-width: 768px) {
      padding: 0;
    }
    @media (min-width: 1024px) {
      width: calc(100% - 240px);
    }
  }
  &__equipment-slider-item {
    width: 100%;
    height: 400px;
    margin: 0 10px;
    padding: 22px;
    background-color: #f0f0f0;
    @media (min-width: 768px) {
      width: calc(33.3333% - 10px);
    }
  }
  &__equipment-slider-img {
    text-align: center;
    img {
      width: 100%;
      max-width: 200px;
      height: auto;
    }
  }
  &__equipment-slider-title {
    padding-top: 22px;
    color: #333;
    font-size: 16px;
    line-height: 24px;
  }
  &__equipment-slider-number {
    color: #999;
    font-size: 13px;
    line-height: 26px;
  }
  &__equipment-slider-rating {
    display: flex;
    align-items: center;
    padding-top: 18px;
  }
  &__equipment-slider-votes {
    margin-left: 16px;
    color: #666;
    font-size: 13px;
    line-height: 24px;
  }


  &__sectors {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    @media (min-width: 768px) {
      margin-top: 40px;
    }
  }
  &__sectors-item {
    width: 100%;
    min-height: 150px;
    padding: 30px;
    background-color: #dcdcdc;
    border-top: 2px solid $white;
    @media (min-width: 768px) {
      width: 50%;
      min-height: 180px;
    }
    @media (min-width: 1024px) {
      width: 33.3334%;
      min-height: 200px;
    }
    @media (min-width: 1440px) {
      min-height: 180px;
    }
    &:last-child {
      display: none;
      @media (min-width: 768px) and (max-width: 1023px) {
        display: block;
      }
    }
    &:not(:nth-child(2n + 2)) {
      @media (min-width: 768px) and (max-width: 1023px) {
        border-right: 2px solid $white;
      }
    }
    &:not(:nth-child(3n + 3)) {
      @media (min-width: 1024px) {
        border-right: 2px solid $white;
      }
    }
  }
  &__sectors-title {
    color: $main-header-color;
  }
  &__sectors-txt {
    padding-top: 16px;
    color: #666;
    font-size: 13px;
    line-height: 20px;
    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 22px;
    }
    a {
      color: #666;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
