.cards {
  margin-top: 20px;
  padding: 0 20px;
  touch-action: manipulation;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  @media (min-width: 1024px) {
    padding: 0 15px;
  }
  &__item {
    width: 100%;
    background-color: $white;
    @media (min-width: 768px) {
      width: calc(50% - 20px);
      margin: 0 10px 20px;
    }
    @media (min-width: 1024px) {
      width: calc(33.3333% - 30px);
      margin: 0 15px 30px;
    }
    &:nth-child(n + 4) {
      @media (min-width: 1024px) {
        display: none;
      }
    }
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
  &__body {
    position: relative;
    padding: 25px 18px 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (min-width: 768px) {
      padding: 25px 30px 30px;
    }
    &--red {
      &::before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 30px;
        width: 60px;
        height: 3px;
        background-color: #df0101;
      }
    }
  }
  &__video {
    display: block;
  }
  &__title {
    color: $main-header-color;
    white-space: nowrap;
    @media (min-width: 768px) {
      white-space: normal;
    }
    &:hover {
      color: $black;
    }
  }
  &__txt {
    position: relative;
    height: 62px;
    margin: 12px 0 10px;
    color: $txt-color;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    @media (min-width: 768px) {
      height: auto;
      margin: 0;
      padding: 18px 0 40px;
      font-size: 14px;
      line-height: 22px;
    }
    &::after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      height: 20px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    > div:nth-child(1) {
      padding-top: 7px;
      color: $txt-color-light;
      font-size: 11px;
      line-height: 22px;
      text-transform: uppercase;
      @media (min-width: 768px) {
        font-size: 12px;
      }
    }
    > div:nth-child(2) {
      color: $black;
      font-size: 15px;
      font-weight: 700;
      line-height: 22px;
      @media (min-width: 768px) {
        font-size: 18px;
      }
      span {
        font-size: 10px;
        vertical-align: super;
      }
    }
  }
  &__date {
    font-size: 14px;
    color: #999999;
  }
}
