head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Start
  link(rel="stylesheet", href="./css/main.css")
  script(src="./js/vendor/modernizr-2.8.3.min.js")

  <!--[if lt IE 9]>
    script(src="./js/vendor/respond.min.js")
  <![endif]-->
