.article-list {
  &__item {
    padding: 29px 0;
    border-bottom: 1px solid #e6e6e6;
    @media (min-width: 768px) {
      display: flex;
      align-items: flex-start;
    }
  }
  &__img {
    display: block;
    position: relative;
    min-width: 200px;
    @media (min-width: 1440px) {
      min-width: 235px;
    }
    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: background-color $slow ease-in-out;
    }
    &:hover::before {
      background-color: rgba(255,0,0, 0.5);
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__content {
    padding-top: 20px;
    @media (min-width: 768px) {
      padding-top: 0;
      padding-left: 20px;
    }
  }
  &__title {
    color: #333;
    font-size: 18px;
    line-height: 26px;
    &:hover {
      color: $red;
    }
  }
  &__body {
    padding-top: 14px;
    color: #666;
    font-size: 14px;
    line-height: 22px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    color: #999;
    font-size: 13px;
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
  &__info {
    display: flex;
  }
  &__views,
  &__comments {
    color: #999;
    margin-left: 21px;
    span {
      margin-left: 8px;
    }
  }
}
