.callback {
  display: none;
  position: fixed;
  top: 85px;
  left: 50%;
  width: 100%;
  max-width: 280px;
  margin-left: -140px;
  padding: 30px 30px 42px;
  background-color: #f0f0f0;
  z-index: 100;
  @media (min-width: 768px) {
    top: 242px;
    max-width: 360px;
    margin-left: -180px;
  }
  @media (min-width: 1024px) {
    top: 190px;
  }
  @media (min-width: 1440px) {
    top: 170px;
  }
  &__close {
    position: absolute;
    top: -10px;
    right: -10px;
  }
  &__title {
    margin-bottom: 26px;
    color: $main-header-color;
    font-size: 20px;
  }
  &__field {
    height: 42px;
    margin-bottom: 10px;
  }
  &__btn {
    width: 100%;
    max-width: 220px;
    margin-top: 10px;
    span {
      margin-left: 9px;
    }
  }
}
