.callback.js-callback
  button.callback__close.btn.btn--close.js-callback-close
  .callback__title Заказать звонок
  form(action="javascript:void(0)")
    .callback__field
      input.input(type="text", placeholder="Ваше имя")
    .callback__field
      input.input(type="text", placeholder="Телефон")
    .callback__field
      button.callback__btn.btn.btn--accent(type="submit")
        i.icon.icon--callback-white
        span Заказать звонок
