.product {
  &__header {
    padding-top: 10px;
  }
  &__sub {
    display: flex;
    justify-content: space-between;
  }
  &__rating {
    display: flex;
    @media (max-width: 767px) {
      align-items: flex-end;
      padding-bottom: 5px;
    }
    @media (min-width: 768px) {
      padding-top: 6px;
    }
    .rating-stars__star,
    .rating-stars__star._active {
      @media (max-width: 767px) {
        width: 15px;
        height: 15px;
        background-size: 15px;
      }
    }
  }
  &__votes {
    margin-left: 3px;
    color: #666;
    font-size: 13px;
    @media (min-width: 768px) {
      margin-left: 14px;
      font-size: 14px;
    }
  }
  &__id {
    margin-top: 4px;
    color: #999;
    font-size: 13px;
    line-height: 24px;
    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__body {
    padding-top: 20px;
    @media (min-width: 768px) {
      display: flex;
    }
  }
  &__images {
    @media (min-width: 1024px) {
      display: flex;
    }
  }
  &__images-slider {
    position: relative;
    width: 280px;
    height: 280px;
    border: 1px solid #dcdcdc;
    @media (min-width: 768px) {
      width: 360px;
      height: 360px;
    }
    @media (min-width: 1024px) {
      width: 420px;
      height: 420px;
    }
    @media (min-width: 1440px) {
      width: 500px;
      height: 500px;
    }
  }
  &__images-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    @media (min-width: 768px) {
      width: 360px;
      height: 360px;
    }
    @media (min-width: 1024px) {
      width: 420px;
      height: 420px;
    }
    @media (min-width: 1440px) {
      width: 500px;
      height: 500px;
    }
    img {
      width: 100%;
      max-width: 200px;
      height: auto;
      @media (min-width: 768px) {
        max-width: 240px;
      }
      @media (min-width: 1024px) {
        max-width: 300px;
      }
      @media (min-width: 1440px) {
        max-width: 350px;
      }
    }
  }
  &__label {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 15px;
    color: #fff;
    background-color: #4caf50;
    font-size: 12px;
    line-height: 18px;
    z-index: 1;
  }
  &__zoom {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    z-index: 1;
    .icon {
      @media (min-width: 768px) {
        width: 24px;
        height: 24px;
        background-size: 24px;
      }
    }
  }
  &__thumbs {
    display: flex;
    margin-top: 14px;
    @media (min-width: 1024px) {
      display: block;
      margin-top: 0;
      margin-left: 15px;
    }
  }
  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    @media (min-width: 768px) {
      width: 65px;
      height: 65px;
    }
    &:not(:last-child) {
      @media (max-width: 1023px) {
        margin-right: 14px;
      }
      @media (min-width: 1024px) {
        margin-bottom: 15px;
      }
    }
    &--selected {
      border: 1px solid $red;
    }
    img {
      display: block;
      width: 100%;
      max-width: 40px;
      height: auto;
      @media (min-width: 768px) {
        max-width: 45px;
      }
    }
  }

  &__desc {
    margin-top: 25px;
    @media (min-width: 768px) {
      margin-top: 0;
      margin-left: 20px;
    }
    @media (min-width: 1024px) {
      margin-left: 60px;
    }
    @media (min-width: 1440px) {
      margin-left: 85px;
    }
  }
  &__desc-body {
    padding: 20px;
    background-color: #f0f0f0;
    @media (min-width: 768px) {
      padding: 30px;
    }
    @media (min-width: 1024px) {
      padding: 40px;
    }
    @media (min-width: 1440px) {

    }
  }
  &__price {
    color: #333;
    font-size: 30px;
    @media (min-width: 768px) {
      font-size: 36px;
    }
    span {
      margin-left: 8px;
      font-size: 18px;
      @media (min-width: 768px) {
        font-size: 22px;
      }
    }
  }
  &__stock {
    color: #4caf50;
    font-size: 13px;
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
  &__txt {
    margin-top: 14px;
    margin-bottom: 20px;
    color: #666;
    font-size: 13px;
    line-height: 20px;
    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__field {
    display: flex;
    height: 50px;
    @media (min-width: 768px) {
      height: 55px;
    }
    .btn {
      width: 100%;
      max-width: 210px;
      margin-left: 10px;
      font-size: 16px;
    }
  }
  &__desc-footer {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #666;
    font-size: 13px;
    line-height: 20px;
    @media (min-width: 768px) {
      font-size: 14px;
    }
    span {
      margin-right: 10px;
    }
    a {
      display: inline-block;
      color: $red;
      white-space: nowrap;
    }
  }

  &__tabs {
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-top: 15px;
      margin-bottom: 45px;
    }
    @media (min-width: 1024px) {
      margin-top: 30px;
    }
    @media (min-width: 1440px) {
      margin-top: 70px;
    }
  }

  &__similar-slider {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 73px;
    overflow: hidden;
    touch-action: manipulation;
    @media (min-width: 768px) {
      margin-top: 35px;
      padding-bottom: 88px;
    }
  }
  &__similar-slider-item {
    width: 100%;
    height: 400px;
    margin: 0 10px;
    padding: 22px;
    background-color: #f0f0f0;
    @media (min-width: 768px) {
      width: calc(33.3333% - 10px);
    }
    @media (min-width: 1024px) {
      width: calc(25% - 10px);
    }
  }
  &__similar-slider-img {
    text-align: center;
    img {
      width: 100%;
      max-width: 200px;
      height: auto;
    }
  }
  &__similar-slider-title {
    padding-top: 22px;
    color: #333;
    font-size: 16px;
    line-height: 24px;
  }
  &__similar-slider-number {
    color: #999;
    font-size: 13px;
    line-height: 26px;
  }
  &__similar-slider-rating {
    display: flex;
    align-items: center;
    padding-top: 18px;
  }
  &__similar-slider-votes {
    margin-left: 16px;
    color: #666;
    font-size: 13px;
    line-height: 24px;
  }
}
