.header
  .header__logo
    div
      h1 «УГИС – ИНТЕРСКОЛ»
      h2 Утепление. Гидроизоляция. Сейсмоусиление.
  .header__contacts
    .header__phone
      i.icon.icon--phone
      | 8 800-333-03-30
    .header__email
      i.icon.icon--email
      | info@name.ru
  .header__callback
    a.btn.btn--default.js-callback-open(href="javascript:void(0)")
      i.icon.icon--callback
      span Заказать звонок

  a.header__burger.js-menu-open(href="javascript:void(0)")
    i.icon.icon--burger
