.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 20px;
  background-color: $red;
  @media (min-width: 768px) {
    height: 80px;
    padding-left: 30px;
  }
  @media (min-width: 920px) {
    padding-right: 30px;
  }
  @media (min-width: 1024px) {
    height: 120px;
  }

  &__logo {
    flex-basis: 80%;
    color: $white;
    @media (min-width: 640px) {
      flex-basis: 50%;
    }
    @media (min-width: 768px) {
      flex-basis: auto;
    }
    @media (min-width: 920px) {
      flex-basis: 50%;
    }

    > div {
      display: inline-block;
      text-align: center;
    }

    h1,
    h2 {
      margin: 0;
      font-weight: 400;
    }

    h1 {
      font-size: 18px;
      line-height: 24px;
      @media (min-width: 768px) {
        font-size: 22px;
        line-height: 30px;
      }
      @media (min-width: 1024px) {
        font-size: 30px;
        line-height: 40px;
      }
    }

    h2 {
      font-size: 9px;
      line-height: 12px;
      @media (min-width: 768px) {
        font-size: 10px;
        line-height: 14px;
      }
      @media (min-width: 1024px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__contacts {
    color: $white;
  }

  &__phone {
    display: none;
    font-size: 18px;
    line-height: 30px;
    @media (min-width: 640px) {
      display: block;
    }
    i {
      display: none;
      margin-right: 14px;
      @media (min-width: 640px) {
        display: inline-block;
      }
    }
  }

  &__email {
    display: none;
    font-size: 14px;
    line-height: 24px;
    i {
      margin-right: 14px;
    }
    @media (min-width: 768px) {
      display: block;
    }
  }

  &__callback {
    display: none;
    @media (min-width: 375px) {
      display: block;
    }
    .btn {
      padding: 12px;
    }
    a span {
      display: none;
      @media (min-width: 768px) {
        display: inline-block;
        margin-left: 9px;
      }
    }
    a .icon {
      margin-right: 0;
    }
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    @media (min-width: 768px) {
      width: 80px;
      height: 80px;
    }
    @media (min-width: 920px) {
      display: none;
    }
  }



}
