.gallery {
  &__slider {
    position: relative;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }
  }
  &__slider-main {
    margin-top: 40px;
    touch-action: manipulation;
  }
  &__slider-item {
    position: relative;
    width: 100%;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    a {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 90;
    }
  }
  &__slider-nav {
    min-height: 40px;
    background-color: #dcdcdc;
    overflow: hidden;
    touch-action: manipulation;
    @media (min-width: 768px) {
      padding: 18px 44px;
    }
    img {
      display: none;
      @media (min-width: 768px) {
        display: block;
        height: 60px;
        margin-right: 18px;
      }
      @media (min-width: 1440px) {
        height: 70px;
      }
    }
  }
  &__slider-main-count {
    position: absolute;
    @media (max-width: 767px) {
      bottom: 12px;
      right: 50%;
      color: #333;
      font-size: 13px;
    }
    @media (min-width: 768px) {
      top: 20px;
      right: 15px;
      color: #fff;
      font-size: 14px;
    }
    span:nth-child(2) {
      margin: 0 4px;
    }
  }

  &__table {
    margin-top: 30px;
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}
