.request {
  margin-bottom: 30px;
  padding: 26px 30px;
  background-color: #ccc;
  @media (min-width: 768px) {
    padding: 30px 40px;
  }
  @media (min-width: 920px) {
    padding: 25px;
  }
  &__title {
    margin-bottom: 16px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
  }
  &__inputs {
    @media (min-width: 768px) and (max-width: 919px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__field,
  &__textarea {
    .input {
      border: 0 none;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.35);
    }
  }
  &__field {
    height: 42px;
    margin-bottom: 10px;
    @media (min-width: 768px) and (max-width: 919px) {
      width: 49%;
    }
  }
  &__textarea {
    margin-bottom: 20px;
    textarea {
      min-height: 92px;
    }
  }
  &__btn {
    text-align: center;
    .btn {
      width: 100%;
      @media (min-width: 768px) {
        max-width: 205px;
      }
    }
  }
}
