.request
  .request__title Отправить заявку
  form(action="javascript:void(0)")
    .request__inputs
      .request__field
        input.input(type="text", placeholder="Ваше имя")
      .request__field
        input.input(type="text", placeholder="Телефон")
    .request__textarea
      textarea.textarea(name="", placeholder="Ваш комментарий")
    .request__btn
      button.btn.btn--accent(type="submit")
        i.icon.icon--send
        span Отправить
