.footer
  .footer__left
    .footer__logo
      a(href="javascript:void(0)")
        div «УГИС – ИНТЕРСКОЛ»
        div Утепление. Гидроизоляция. Сейсмоусиление.
    .footer__phone
      a(href="tel:8-800-333-0330") 8 800-333-03-30
      a(href="mailto:info@name.ru") info@name.ru
    .footer__copyright
      div © 2017 «УГИС – Интерскол»
      div Все права защищены
    .footer__address г. Москва, ш. Энтузиастов, д. 15,<br>офис 204

  .footer__right
    .footer__callback
      a.btn.btn--default.js-callback-open(href="javascript:void(0)")
        i.icon.icon--callback
        span Заказать звонок
    .footer__social
      a.nav__social-link(href="javascript:void(0)")
        i.icon.icon--fb
      a.nav__social-link(href="javascript:void(0)")
        i.icon.icon--vk
      a.nav__social-link(href="javascript:void(0)")
        i.icon.icon--tw
