.footer {
  position: relative;
  padding: 30px;
  color: $txt-color;
  background-color: $black;
  @media (min-width: 768px) {
    display: flex;
  }

  &__left {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
    }
    @media (min-width: 1024px) {
      width: 57%;
    }
    @media (min-width: 1440px) {
      width: 50%;
    }
    > div {
      height: 65px;
      @media (min-width: 768px) {
        width: 50%;
        height: 76px;
      }
    }
  }
  &__right {
    width: 100%;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      width: 30%;
      padding-left: 30px;
    }
    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 43%;
    }
    @media (min-width: 1440px) {
      width: 50%;
    }
  }


  &__logo {
    a {
      color: $txt-color;
      > div:nth-child(1) {
        font-size: 22px;
      }
      > div:nth-child(2) {
        font-size: 10px;
      }
    }
  }
  &__phone {
    @media (min-width: 768px) {
      padding-left: 30px;
    }
    > a:nth-child(1) {
      display: block;
      color: $txt-color;
      font-size: 22px;
    }
    > a:nth-child(2) {
      display: block;
      color: $txt-color;
      font-size: 13px;
    }
  }
  &__copyright,
  &__address {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }

  &__address {
    @media (min-width: 768px) {
      padding-left: 30px;
    }
  }

  &__callback {
    display: none;
    @media (min-width: 768px) {
      display: block;
      margin-bottom: 40px;
    }
    .btn {
      @media (min-width: 768px) and (max-width: 1023px) {
        padding: 12px;
      }
    }
    a span {
      display: inline-block;
      margin-left: 9px;
      @media (min-width: 768px) and (max-width: 1023px) {
        display: none;
      }
    }
  }
}
