.breadcrumbs
  a.breadcrumbs__link(href="javascript:void(0)") Главная
  span.breadcrumbs__divider —
  a.breadcrumbs__link(href="javascript:void(0)") О компании
  span.breadcrumbs__divider —
  span.breadcrumbs__link О нас
