extends ./index.pug

block content
  .container.internal

    .sidebar
      .subnav
        .subnav__title О компании
        ul.subnav__items
          li.subnav__item
            a.subnav__link.subnav__link--active(href="./about.html")
              i.icon.icon--info-white
              | О нас
          li.subnav__item
            a.subnav__link(href="./setificate.html")
              i.icon.icon--document
              | Сертификаты
          li.subnav__item
            a.subnav__link(href="./faq.html")
              i.icon.icon--help
              | Вопросы и ответы

      include ./components/request/request.pug

      button.btn.btn--black
        i.icon.icon--expert
        span Задать вопрос эксперту

    .content
      include ./components/breadcrumbs/breadcrumbs.pug
      h3 О нас
      p Компанией «УГИС – ИНТЕРСКОЛ» был разработан утеплитель нового поколения, позволяющий в несколько раз снизить потребление электроэнергии, расходуемой на отопление и кондиционирование воздуха в вашем доме. Получив широкое распространение в странах, уделяющих первостепенное внимание экологической безопасности материалов, технология Экотермикс завоевала и Российский рынок, став доступной на всей территории страны от Владивостока до Калининграда, а также в Казахстане, Беларуси и на Украине.
      p Технология напыляемого пенополиуретана позволяет проводить работы по монтажу теплоизоляции в рекордно короткие сроки – так, ангар площадью более 2000 кв метров можно полноценно утеплить всего за 3 дня! В последние годы пенополиуретан медленно, но верно вытесняет с рынка устаревшие теплоизоляционные материалы, чьи характеристики не идут ни в какое сравнение с его достоинствами.
      p ППУ «УГИС – ИНТЕРСКОЛ» нетоксичен, легок, долговечен и пожаробезопасен – без ложной скромности можно утверждать, что это материал будущего! С отзывами наших довольных клиентов, не только на слове, но и на деле ощутивших преимущества высокотехнологичной, но при этом максимально доступной по цене продукции.
      p Помимо услуг по утеплению промышленных и частных объектов, компания «УГИС – ИНТЕРСКОЛ» также занимается тепловизионным обследованием помещений, демонтажем старых утеплителей и установкой сайдинга.
