extends ./index.pug

block content
  .container.internal

    .sidebar
      .subnav
        .subnav__title Услуги
        ul.subnav__items
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--home
              | Жилое утепление
          li.subnav__item
            a.subnav__link.subnav__link--active(href="./services.html")
              i.icon.icon--factory-white
              | Промышленное утепление
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--drop
              | Гидроизоляция
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--guard
              | Защита от коррозии и износа

      include ./components/request/request.pug

      button.btn.btn--black
        i.icon.icon--expert
        span Задать вопрос эксперту

    .content.articles
      include ./components/breadcrumbs/breadcrumbs.pug
      h3 Сравнение утеплителей

      .content-table
        .content-table__wrapper
          table.content-table__body.js-table
            tr
              td._header Параметр
              td._header 2-ух&nbsp;комп. ППУ
              td._header Пено-полистирол
              td._header Мин.вата
              td._header Пеноизол
            tr
              td Теплопроводность Вт/(м*град.)
              td 0,028
              td 0,033
              td 0,045
              td 0,06
            tr
              td Водопоглащение
              td 0,01-0,03
              td 0,02
              td 0,02
              td 0,140
            tr
              td Каркас
              td -
              td нужен
              td нужен
              td нужен
            tr
              td Доп. инструмент
              td нужен
              td нужен
              td нужен
              td нужен
            tr
              td Регулируемая толщина&nbsp;слоя
              td да
              td -
              td -
              td да
            tr
              td Изоляция сложных и&nbsp;труднодостпных поверхностей
              td возможна
              td -
              td -
              td -
        a.content-table__icon.js-table-next(href="#")
          i.icon.icon--arrow


      p &nbsp;
      p На пути владельцев ангаров часто встает такая задача как теплоизоляция таких помещений, что для многих является настоящей проблемой в силу большого количества обстоятельств. На современном отечественном рынке представлено огромное число утеплителей – главное не ошибиться с выбором!
      p Главным фактором при выборе теплоизоляционного материала является форма и размеры помещений. Если с большой площадью минеральная вата сможет справиться, то, например, с арочными конструкциями возникнет проблема. Даже если вам утеплят ангар таким способом – как результат, образуются зазоры и щели, а после небольшого срока эксплуатации – конденсат.
      p Чтобы избежать таких ситуаций и негативных последствий, оптимальный вариант – утепление пенополиуретаном УГИС – ИНТЕРСКОЛ.
      p Технология этого материала позволяет заполнить даже самые малейшие пространства, предотвращая тепловые потери. Более того, еще одним важным преимуществом ППУ для владельцев ангаров считается срок монтажа. Сотрудники компании проведут теплоизоляцию до 500 м2 за день, а также не оставят никаких обрезков материала, мусора и пыли.
