extends ./index.pug

block content
  .container.internal

    .sidebar
      include ./components/request/request.pug

      button.btn.btn--black
        i.icon.icon--expert
        span Задать вопрос эксперту

    .content.contacts
      include ./components/breadcrumbs/breadcrumbs.pug
      h3 Контакты

      .contacts__hot
        span Горячая линия:
        a(href="tel:8-800-333-0330 ") 8 800 333-03-30 

      .contacts__name ООО «УГИС – ИНТЕРСКОЛ»

      .contacts__address
        div Адрес:
        div 141400, г. Химки, ул. Ленинградская, д. 29

      .contacts__address
        div Телефон:
        div +7 (495) 665-76-31 – многоканальный

      .contacts__address
        div Как проехать:
        div м.&nbsp;Речной&nbsp;вокзал&nbsp;последний&nbsp;вагон, авт.&nbsp;851,&nbsp;м.&nbsp;Планерная&nbsp;первый&nbsp;вагон, авт.&nbsp;817,&nbsp;до&nbsp;ост.&nbsp;«23-й&nbsp;километр» (15&nbsp;минут)&nbsp;здание&nbsp;ВНИИСМИ

      .contacts__map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1631.0466801064285!2d37.41936460558749!3d55.90327712407658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbb59076cb23c9b99!2sInterskol!5e0!3m2!1sen!2sru!4v1492715360148", frameborder="0", style="border:0", allowfullscreen)

      .contacts__details Реквизиты

      .table
        .table__row
          div Наименование
          div ООО «УГИС – ИНТЕРСКОЛ»
        .table__row
          div Юридический/Почтовый адрес
          div 141400, г. Химки, ул. Ленинградская, д. 29
        .table__row
          div ОГРН
          div 1157746728160
        .table__row
          div ОКПО
          div 47319803
        .table__row
          div ИНН
          div 7731289366
        .table__row
          div КПП
          div 773101001
        .table__row
          div Расчётный счёт
          div 40702810900000008499
        .table__row
          div Корреспондентский счёт
          div 30101810200000000700
        .table__row
          div БИК
          div 044525700
