extends ./index.pug

block content
  .container.internal
    .sidebar
      .subnav
        .subnav__title О компании
        ul.subnav__items
          li.subnav__item
            a.subnav__link(href="./about.html")
              i.icon.icon--info
              | О нас
          li.subnav__item
            a.subnav__link(href="./setificate.html")
              i.icon.icon--document
              | Сертификаты
          li.subnav__item
            a.subnav__link.subnav__link--active(href="./faq.html")
              i.icon.icon--help-white
              | Вопросы и ответы

      include ./components/request/request.pug

      button.btn.btn--black
        i.icon.icon--expert
        span Задать вопрос эксперту

    .content
      include ./components/breadcrumbs/breadcrumbs.pug
      h3 Вопросы и ответы

      include ./components/accordion/accordion.pug

      include ./components/paginator/paginator.pug
