extends ./index.pug

block content
  .container.internal

    .sidebar
      .subnav
        .subnav__title Галерея
        ul.subnav__items
          li.subnav__item
            a.subnav__link.subnav__link--active(href="javascript:void(0)")
              i.icon.icon--hangar-white
              | Ангары
          li.subnav__item
            a.subnav__link(href="./services.html")
              i.icon.icon--roof
              | Крыши и мансарды
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--wall
              | Стены
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--facades
              | Фасады
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--home
              | Дом
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--floor
              | Полы и перекрытия
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--foundation
              | Фундаменты

      include ./components/request/request.pug

      button.btn.btn--black
        i.icon.icon--expert
        span Задать вопрос эксперту

    .content.gallery
      include ./components/breadcrumbs/breadcrumbs.pug
      h3 Ангары

      p На пути владельцев ангаров часто встает такая задача как теплоизоляция таких помещений, что для многих является настоящей проблемой в силу большого количества обстоятельств. На современном отечественном рынке представлено огромное число утеплителей – главное не ошибиться с выбором!
      p Главным фактором при выборе теплоизоляционного материала является форма и размеры помещений. Если с большой площадью минеральная вата сможет справиться, то, например, с арочными конструкциями возникнет проблема. Даже если вам утеплят ангар таким способом – как результат, образуются зазоры и щели, а после небольшого срока эксплуатации – конденсат.
      p Чтобы избежать таких ситуаций и негативных последствий, оптимальный вариант – утепление пенополиуретаном УГИС – ИНТЕРСКОЛ.
      p Технология этого материала позволяет заполнить даже самые малейшие пространства, предотвращая тепловые потери. Более того, еще одним важным преимуществом ППУ для владельцев ангаров считается срок монтажа. Сотрудники компании проведут теплоизоляцию до 500 м2 за день, а также не оставят никаких обрезков материала, мусора и пыли.


      .gallery__slider
        .gallery__slider-main.js-gallery-slider-main
          .gallery__slider-item
            img(src="./assets/images/main-services-01.jpg", alt="")
            a(href="./assets/images/main-services-01.jpg", data-lightbox="gallery")
          .gallery__slider-item
            img(src="./assets/images/main-services-02.jpg", alt="")
            a(href="./assets/images/main-services-02.jpg", data-lightbox="gallery")
          .gallery__slider-item
            img(src="./assets/images/main-services-03.jpg", alt="")
            a(href="./assets/images/main-services-03.jpg", data-lightbox="gallery")
          .gallery__slider-item
            img(src="./assets/images/main-services-04.jpg", alt="")
            a(href="./assets/images/main-services-04.jpg", data-lightbox="gallery")
          .gallery__slider-item
            img(src="./assets/images/main-services-05.jpg", alt="")
            a(href="./assets/images/main-services-05.jpg", data-lightbox="gallery")
          .gallery__slider-item
            img(src="./assets/images/main-services-06.jpg", alt="")
            a(href="./assets/images/main-services-06.jpg", data-lightbox="gallery")
          .gallery__slider-item
            img(src="./assets/images/main-services-07.jpg", alt="")
            a(href="./assets/images/main-services-07.jpg", data-lightbox="gallery")
          .gallery__slider-item
            img(src="./assets/images/main-services-08.jpg", alt="")
            a(href="./assets/images/main-services-08.jpg", data-lightbox="gallery")
          .gallery__slider-item
            img(src="./assets/images/main-services-09.jpg", alt="")
            a(href="./assets/images/main-services-09.jpg", data-lightbox="gallery")
        .gallery__slider-nav.js-gallery-slider-nav
          img(src="./assets/images/main-services-01.jpg", alt="")
          img(src="./assets/images/main-services-02.jpg", alt="")
          img(src="./assets/images/main-services-03.jpg", alt="")
          img(src="./assets/images/main-services-04.jpg", alt="")
          img(src="./assets/images/main-services-05.jpg", alt="")
          img(src="./assets/images/main-services-06.jpg", alt="")
          img(src="./assets/images/main-services-07.jpg", alt="")
          img(src="./assets/images/main-services-08.jpg", alt="")
          img(src="./assets/images/main-services-09.jpg", alt="")
        .gallery__slider-main-count.js-gallery-slider-count
          span
          span /
          span


      h4 Цена за напыление ППУ – 1м3

      .gallery__table.content-table
        .content-table__wrapper
          table.content-table__body.js-table
            tr
              td._header Тип ППУ
              td._header Обём заказа, руб/м3
              td._header Обём заказа, руб/м3
              td._header Обём заказа, руб/м3
              td._header Обём заказа, руб/м3
            tr
              td &nbsp;
              td до&nbsp;15
              td от&nbsp;15&nbsp;до&nbsp;50
              td от&nbsp;50&nbsp;до&nbsp;150
              td от&nbsp;150&nbsp;и&nbsp;выше
            tr
              td Плотность&nbsp;в&nbsp;ядре&nbsp;10-15&nbsp;кг/м3, коэфициент&nbsp;теплопроводимости 0,03 
              td 6&nbsp;000
              td 5&nbsp;500
              td 5&nbsp;240
              td договорная
            tr
              td Плотность&nbsp;в&nbsp;ядре&nbsp;28-36&nbsp;кг/м3, коэфициент&nbsp;теплопроводимости 0,02
              td 12&nbsp;000
              td 11&nbsp;500
              td 11&nbsp;250
              td договорная
            tr
              td Плотность&nbsp;в&nbsp;ядре&nbsp;36-45&nbsp;кг/м3, коэфициент&nbsp;теплопроводимости 0,022
              td 13&nbsp;000
              td 12&nbsp;500
              td 11&nbsp;500
              td договорная
        a.content-table__icon.js-table-next(href="#")
          i.icon.icon--arrow
