doctype html
html
  include ./components/head/head.pug
  body
    .wrapper
      .container
        include ./components/header/header.pug
        - var search = true
        include ./components/nav/nav.pug


      block content
        include ./components/hero/hero.pug
        include ./components/main/main.pug

      .container
        - var search = false
        include ./components/nav/nav.pug
        include ./components/footer/footer.pug

    .overlay.js-overlay
    include ./components/callback/callback.pug


  script(src='./js/vendor/jquery-3.1.0.min.js')
  script(src='./js/vendor/jquery-migrate-3.0.0.min.js')
  script(src='./js/vendor/jquery.mousewheel.min.js')
  script(src='./js/vendor/flickity.pkgd.min.js')
  script(src='./js/vendor/jquery.responsiveTabs.min.js')
  script(src='./js/vendor/jquery.mCustomScrollbar.min.js')
  script(src='./js/vendor/autosize.min.js')
  script(src='./js/vendor/lightbox.min.js')
  script(src='./js/main.js')
