extends ./index.pug

block content
  .container.internal

    .sidebar
      include ./components/request/request.pug

      button.btn.btn--black
        i.icon.icon--expert
        span Задать вопрос эксперту

    .content.products
      include ./components/breadcrumbs/breadcrumbs.pug
      h3 Оборудование и продукция

      .products__item
        .products__header
          .products__title
            a.products__link(href="./product.html") Установка ППУ Интерскол 5Н100
            .products__id Артикул: 170000001
          .products__rating
            include ./components/rating-stars/rating-stars.pug
            .products__votes 78
        .products__body
          .products__img
            img(src="./assets/images/product-01.png", alt="")
          .products__txt Лидер экономичных решений! Подходит для применения в&nbsp;индивидуальных системах отопления. При компактных размерах обеспечивает максимально возможную теплоотдачу за&nbsp;счет применения запатентованных технологий POWERSHIFT и&nbsp;беспрепятственной конвекции благодаря волнообразной форме ребер.
        .products__footer
          .tabs.js-tabs
            ul
              li
                a(href="#features-1") Характеристики
              li
                a(href="#package-1") Комплект поставки
              li
                a(href="#reviews-1")
                  | Отзывы
                  span (9)
            .tabs__item#features-1
              .table.js-scroll
                .table__row
                  div Модель
                  div 5H100
                .table__row
                  div Перерабатываемое сырье
                  div Пенополиуретан и гибрадная
                .table__row
                  div Производительность (кг/мин)
                  div 5
                .table__row
                  div Максимальное давление (бар)
                  div 140
                .table__row
                  div Соотношение компонентов
                  div 1:1
                .table__row
                  div Привод
                  div Гидравлический
                .table__row
                  div Регулировка температуры по контурам
                  div есть
                .table__row
                  div Модель
                  div 5H100
                .table__row
                  div Перерабатываемое сырье
                  div Пенополиуретан и гибрадная
                .table__row
                  div Производительность (кг/мин)
                  div 5
                .table__row
                  div Максимальное давление (бар)
                  div 140
                .table__row
                  div Соотношение компонентов
                  div 1:1
                .table__row
                  div Привод
                  div Гидравлический
                .table__row
                  div Регулировка температуры по контурам
                  div есть
            .tabs__item.tabs__item--noscroll#package-1
              .table
                .table__row
                  div 1. Установка в сборе
                  ._right 1 шт.
                .table__row
                  div 2. РВД подогреваемый (15 м.)
                  ._right 1 шт.
                .table__row
                  div 3. РВД подогреваемый (3 м.)
                  ._right 1 шт.
                .table__row
                  div 4. Пистолет-распылитель GAMA Master2 (камера «0»)
                  ._right 1 шт.
                .table__row
                  div 5. Стойка рециркуляции
                  ._right 2 шт.
            .tabs__item.tabs__item--noscroll#reviews-1
              p Отзывы

      .products__item
        .products__header
          .products__title
            a.products__link(href="./product.html") Установка ППУ Интерскол 5Н100
            .products__id Артикул: 170000001
          .products__rating
            include ./components/rating-stars/rating-stars.pug
            .products__votes 78
        .products__body
          .products__img
            img(src="./assets/images/product-02.png", alt="")
          .products__txt Лидер экономичных решений! Подходит для применения в&nbsp;индивидуальных системах отопления. При компактных размерах обеспечивает максимально возможную теплоотдачу за&nbsp;счет применения запатентованных технологий POWERSHIFT и&nbsp;беспрепятственной конвекции благодаря волнообразной форме ребер.
        .products__footer
          .tabs.js-tabs
            ul
              li
                a(href="#features-2") Характеристики
              li
                a(href="#package-2") Комплект поставки
              li
                a(href="#reviews-2")
                  | Отзывы
                  span (9)
            .tabs__item#features-2
              .table.js-scroll
                .table__row
                  div Модель
                  div 5H100
                .table__row
                  div Перерабатываемое сырье
                  div Пенополиуретан и гибрадная
                .table__row
                  div Производительность (кг/мин)
                  div 5
                .table__row
                  div Максимальное давление (бар)
                  div 140
                .table__row
                  div Соотношение компонентов
                  div 1:1
                .table__row
                  div Привод
                  div Гидравлический
                .table__row
                  div Регулировка температуры по контурам
                  div есть
                .table__row
                  div Модель
                  div 5H100
                .table__row
                  div Перерабатываемое сырье
                  div Пенополиуретан и гибрадная
                .table__row
                  div Производительность (кг/мин)
                  div 5
                .table__row
                  div Максимальное давление (бар)
                  div 140
                .table__row
                  div Соотношение компонентов
                  div 1:1
                .table__row
                  div Привод
                  div Гидравлический
                .table__row
                  div Регулировка температуры по контурам
                  div есть
            .tabs__item.tabs__item--noscroll#package-2
              .table
                .table__row
                  div 1. Установка в сборе
                  ._right 1 шт.
                .table__row
                  div 2. РВД подогреваемый (15 м.)
                  ._right 1 шт.
                .table__row
                  div 3. РВД подогреваемый (3 м.)
                  ._right 1 шт.
                .table__row
                  div 4. Пистолет-распылитель GAMA Master2 (камера «0»)
                  ._right 1 шт.
                .table__row
                  div 5. Стойка рециркуляции
                  ._right 2 шт.
            .tabs__item.tabs__item--noscroll#reviews-2
              p Отзывы

      .products__item
        .products__header
          .products__title
            a.products__link(href="./product.html") Установка ППУ Интерскол 5Н100
            .products__id Артикул: 170000001
          .products__rating
            include ./components/rating-stars/rating-stars.pug
            .products__votes 78
        .products__body
          .products__img
            img(src="./assets/images/product-01.png", alt="")
          .products__txt Лидер экономичных решений! Подходит для применения в&nbsp;индивидуальных системах отопления. При компактных размерах обеспечивает максимально возможную теплоотдачу за&nbsp;счет применения запатентованных технологий POWERSHIFT и&nbsp;беспрепятственной конвекции благодаря волнообразной форме ребер.
        .products__footer
          .tabs.js-tabs
            ul
              li
                a(href="#features-3") Характеристики
              li
                a(href="#package-3") Комплект поставки
              li
                a(href="#reviews-3")
                  | Отзывы
                  span (9)
            .tabs__item#features-3
              .table.js-scroll
                .table__row
                  div Модель
                  div 5H100
                .table__row
                  div Перерабатываемое сырье
                  div Пенополиуретан и гибрадная
                .table__row
                  div Производительность (кг/мин)
                  div 5
                .table__row
                  div Максимальное давление (бар)
                  div 140
                .table__row
                  div Соотношение компонентов
                  div 1:1
                .table__row
                  div Привод
                  div Гидравлический
                .table__row
                  div Регулировка температуры по контурам
                  div есть
                .table__row
                  div Модель
                  div 5H100
                .table__row
                  div Перерабатываемое сырье
                  div Пенополиуретан и гибрадная
                .table__row
                  div Производительность (кг/мин)
                  div 5
                .table__row
                  div Максимальное давление (бар)
                  div 140
                .table__row
                  div Соотношение компонентов
                  div 1:1
                .table__row
                  div Привод
                  div Гидравлический
                .table__row
                  div Регулировка температуры по контурам
                  div есть
            .tabs__item.tabs__item--noscroll#package-3
              .table
                .table__row
                  div 1. Установка в сборе
                  ._right 1 шт.
                .table__row
                  div 2. РВД подогреваемый (15 м.)
                  ._right 1 шт.
                .table__row
                  div 3. РВД подогреваемый (3 м.)
                  ._right 1 шт.
                .table__row
                  div 4. Пистолет-распылитель GAMA Master2 (камера «0»)
                  ._right 1 шт.
                .table__row
                  div 5. Стойка рециркуляции
                  ._right 2 шт.
            .tabs__item.tabs__item--noscroll#reviews-3
              p Отзывы


      p Оборудование для пенополиуретана &laquo;ИНТЕРСКОЛ&raquo; является на&nbsp;сегодняшний день самой передовой и&nbsp;самостоятельной инновационной разработкой в&nbsp;российском сегменте ППУ. Данные машины воплощают все лучшие технологии ведущих западных производителей и&nbsp;содержат много доработок с&nbsp;учетом российских реалий и&nbsp;рынка, прежде всего в&nbsp;аспектах простоты эксплуатации и&nbsp;ремонтопригодности.
      p Утепление объектов ППУ с&nbsp;помощью машины высокого давления &laquo;ИНТЕРСКОЛ&raquo; является очень производительной операцией&nbsp;&mdash; два рабочих в&nbsp;смену могут утеплить 500&nbsp;кв.&nbsp;м, против 100&nbsp;кв.&nbsp;м&nbsp;обычным способом. Технология напыления ППУ обеспечивает бесшовное соединение изолирующего слоя, что обеспечивает отсутствие мостиков холода, которые являются причиной до&nbsp;30-40% всех тепловых потерь. Применение технологий напыления ППУ в&nbsp;промышленных масштабах позволит сэкономить миллиарды рублей на&nbsp;сокращении потерь тепла. Цена одного квадратного метра работ существенно ниже классических технологий в&nbsp;проекции на&nbsp;значительно более долгий срок эксплуатации. По&nbsp;сопротивлению теплопередаче напыляемый пенополиуретан толщиной 25&nbsp;мм соответствует кирпичной кладке толщиной 600&nbsp;мм, т.е. использование пенополиуретана позволяет обеспечить значительную экономию как при строительстве зданий и&nbsp;сооружений, так и&nbsp;в&nbsp;процессе их&nbsp;эксплуатации.
      p Всё предлагаемое российским производителем оборудование для пенополиуретана и&nbsp;полимочевины способны решать полный комплекс задач по&nbsp;напылению теплоизоляции, гидроизоляции и&nbsp;антикоррозийной защиты с&nbsp;высокой стойкостью к&nbsp;механическим и&nbsp;химическим воздействиям.
      p Технологический процесс напыления жесткого пенополиуретана заключается в&nbsp;том, что два компонента, в&nbsp;строго дозированной пропорции под давлением подаются в&nbsp;смесительный узел пистолета-распылителя, где встречаются, и&nbsp;под действием сжатого воздуха происходит их&nbsp;гомогенное перемешивание и&nbsp;в&nbsp;виде аэрозольного факела, который формируется специальной форсункой, выбрасываются на&nbsp;поверхность. Таким образом, тонким слоем не&nbsp;вспененные, но&nbsp;перемешанные компоненты наносятся на&nbsp;основание. Через 1-3 секунды начинается реакция&nbsp;&mdash; резкое увеличение пены в&nbsp;объеме.
      p Оборудование высокого давления подключается к&nbsp;воздушному компрессору и&nbsp;разогревает компоненты системы перед напылением. При соблюдении технологии напыления пенополиуретана и&nbsp;правильной подготовке рабочей поверхности гарантирован отличный результат и&nbsp;качественное финишное покрытие.
