extends ./index.pug

block content
  .container.internal


    .product
      include ./components/breadcrumbs/breadcrumbs.pug

      .product__header
        h3.title-h3 Установка ППУ Интерскол 5Н100
        .product__sub
          .product__id Артикул: 170000001
          .product__rating
            include ./components/rating-stars/rating-stars.pug
            .product__votes 78

      .product__body
        .product__images
          .product__images-slider
            .product__label новинка
            a.product__zoom(href="javascript:void(0)")
              i.icon.icon--zoom
            .js-product-slider
              .product__images-item
                img(src="./assets/images/product-01.png", alt="")
              .product__images-item
                img(src="./assets/images/product-02.png", alt="")
          ul.product__thumbs.js-product-thumbs
            li.product__thumb.product__thumb--selected
              img(src="./assets/images/product-01.png", alt="")
            li.product__thumb
              img(src="./assets/images/product-02.png", alt="")
        .product__desc
          .product__desc-body
            .product__price
              | 95 750
              span руб.
            .product__stock в наличии
            .product__txt Лидер экономичных решений! Подходит для применения в&nbsp;индивидуальных системах отопления. При компактных размерах обеспечивает максимально возможную теплоотдачу за&nbsp;счет применения запатентованных технологий POWERSHIFT и&nbsp;беспрепятственной конвекции благодаря волнообразной форме ребер.
            form(action="javascript:void(0)")
              .product__field
                .input-count.js-input-count
                  input.input(type="text", value="1")
                  button.input-count__btn.input-count__btn--plus +
                  button.input-count__btn.input-count__btn--minus -
                button.btn.btn--accent
                  i.icon.icon--cart
                  span Купить
          .product__desc-footer
            span Гарантийные обязательства.
            a(href="javascript:void(0)") Узнать подробнее

      .product__tabs
        .tabs.js-tabs
          ul
            li
              a(href="#features") Характеристики
            li
              a(href="#package") Комплект поставки
            li
              a(href="#reviews")
                | Отзывы
                span (9)
            li
              a(href="#delivery") Доставка и оплата
          .tabs__item.tabs__item--noscroll#features
            .table
              .table__row
                div Модель
                div 5H100
              .table__row
                div Перерабатываемое сырье
                div Пенополиуретан и гибрадная
              .table__row
                div Производительность (кг/мин)
                div 5
              .table__row
                div Максимальное давление (бар)
                div 140
              .table__row
                div Соотношение компонентов
                div 1:1
              .table__row
                div Привод
                div Гидравлический
              .table__row
                div Регулировка температуры по контурам
                div есть
              .table__row
                div Модель
                div 5H100
              .table__row
                div Перерабатываемое сырье
                div Пенополиуретан и гибрадная
              .table__row
                div Производительность (кг/мин)
                div 5
              .table__row
                div Максимальное давление (бар)
                div 140
              .table__row
                div Соотношение компонентов
                div 1:1
              .table__row
                div Привод
                div Гидравлический
              .table__row
                div Регулировка температуры по контурам
                div есть
          .tabs__item.tabs__item--noscroll#package
            .table
              .table__row
                div 1. Установка в сборе
                ._right 1 шт.
              .table__row
                div 2. РВД подогреваемый (15 м.)
                ._right 1 шт.
              .table__row
                div 3. РВД подогреваемый (3 м.)
                ._right 1 шт.
              .table__row
                div 4. Пистолет-распылитель GAMA Master2 (камера «0»)
                ._right 1 шт.
              .table__row
                div 5. Стойка рециркуляции
                ._right 2 шт.
          .tabs__item.tabs__item--noscroll#reviews
            p Отзывы
          .tabs__item.tabs__item--noscroll#delivery
            p Доставка и оплата


      .product__similar
        h4.title-h4 Похожие товары
        .product__similar-slider
          .js-similar-slider
            .product__similar-slider-item
              .product__similar-slider-img
                img(src="./assets/images/main-equipment-01.png", alt="")
              .product__similar-slider-title Установка ППУ Интерскол 5Н100
              .product__similar-slider-number Артикул: 170000001
              .product__similar-slider-rating
                include ./components/rating-stars/rating-stars.pug
                .product__similar-slider-votes 117
            .product__similar-slider-item
              .product__similar-slider-img
                img(src="./assets/images/main-equipment-02.png", alt="")
              .product__similar-slider-title Установка ППУ Интерскол 8Н200
              .product__similar-slider-number Артикул: 170000002
              .product__similar-slider-rating
                include ./components/rating-stars/rating-stars.pug
                .product__similar-slider-votes 194
            .product__similar-slider-item
              .product__similar-slider-img
                img(src="./assets/images/main-equipment-01.png", alt="")
              .product__similar-slider-title Установка ППУ Интерскол 5Н200
              .product__similar-slider-number Артикул: 170000003
              .product__similar-slider-rating
                include ./components/rating-stars/rating-stars.pug
                .product__similar-slider-votes 203
            .product__similar-slider-item
              .product__similar-slider-img
                img(src="./assets/images/main-equipment-02.png", alt="")
              .product__similar-slider-title Установка ППУ Интерскол 8Н200
              .product__similar-slider-number Артикул: 170000002
              .product__similar-slider-rating
                include ./components/rating-stars/rating-stars.pug
                .product__similar-slider-votes 194
