extends ./index.pug

block content
  .container.internal

    .sidebar
      .subnav
        .subnav__title Услуги
        ul.subnav__items
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--home
              | Жилое утепление
          li.subnav__item
            a.subnav__link.subnav__link--active(href="./services.html")
              i.icon.icon--factory-white
              | Промышленное утепление
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--drop
              | Гидроизоляция
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--guard
              | Защита от коррозии и износа

      include ./components/request/request.pug

      button.btn.btn--black
        i.icon.icon--expert
        span Задать вопрос эксперту

    .content.services
      include ./components/breadcrumbs/breadcrumbs.pug
      h3 Промышленное утепление

      .services__insulation-images
        a.services__insulation-images-link(href="javascript:void(0)")
          img(src="./assets/images/services-insulation-01.jpg", alt="")
          .services__insulation-images-title Утепление<br>ангаров и складов
        a.services__insulation-images-link(href="javascript:void(0)")
          img(src="./assets/images/services-insulation-02.jpg", alt="")
          .services__insulation-images-title Утепление вагонов<br>и контейнеров
        a.services__insulation-images-link(href="javascript:void(0)")
          img(src="./assets/images/services-insulation-03.jpg", alt="")
          .services__insulation-images-title Утепление<br>гаражей
        a.services__insulation-images-link(href="javascript:void(0)")
          img(src="./assets/images/services-insulation-04.jpg", alt="")
          .services__insulation-images-title Утепление<br>тепловых камер
        a.services__insulation-images-link(href="javascript:void(0)")
          img(src="./assets/images/services-insulation-05.jpg", alt="")
          .services__insulation-images-title Утепление<br>теплотрасс
        a.services__insulation-images-link(href="javascript:void(0)")
          img(src="./assets/images/services-insulation-06.jpg", alt="")
          .services__insulation-images-title Утепление<br>фургонов
        a.services__insulation-images-link(href="javascript:void(0)")
          img(src="./assets/images/services-insulation-07.jpg", alt="")
          .services__insulation-images-title Утепление<br>газоходов и труб
        a.services__insulation-images-link(href="javascript:void(0)")
          img(src="./assets/images/services-insulation-08.jpg", alt="")
          .services__insulation-images-title Утепление<br>яхт и кораблей
        a.services__insulation-images-link(href="javascript:void(0)")
          img(src="./assets/images/services-insulation-09.jpg", alt="")
          .services__insulation-images-title Утепление<br>других объектов


      ul.article-list
        li.article-list__item
          a.article-list__img(href="javascript:void(0)")
            img(src="./assets/images/article-list-01.jpg", alt="")
          .article-list__content
            a.article-list__title(href="javascript:void(0)") Эффективное утепление зернохранилищ при&nbsp;помощи&nbsp;ППУ
            .article-list__body Хранение зерна и других сыпучих продуктов сельскохозяйственной деятельности, независимо от длительности, требует поддержания в зернохранилищах определенных микроклиматических условий.
            .article-list__footer
              .article-list__date 31 января 2017
              .article-list__info
                a.article-list__views(href="javascript:void(0)")
                  i.icon.icon--views
                  span 64
                a.article-list__comments(href="javascript:void(0)")
                  i.icon.icon--comments
                  span 15
        li.article-list__item
          a.article-list__img(href="javascript:void(0)")
            img(src="./assets/images/article-list-02.jpg", alt="")
          .article-list__content
            a.article-list__title(href="javascript:void(0)") Утепление канализационных труб: материалы, способы, необходимость
            .article-list__body Замерзшие канализационные трубы могут крайне усложнить нормальную жизнь в доме, а проведение их размораживания затратно и хлопотно. Поэтому, если они пролегают на глубине меньшей, чем глубина ...
            .article-list__footer
              .article-list__date 30 января 2017
              .article-list__info
                a.article-list__views(href="javascript:void(0)")
                  i.icon.icon--views
                  span 83
                a.article-list__comments(href="javascript:void(0)")
                  i.icon.icon--comments
                  span 11
        li.article-list__item
          a.article-list__img(href="javascript:void(0)")
            img(src="./assets/images/article-list-03.jpg", alt="")
          .article-list__content
            a.article-list__title(href="javascript:void(0)") Эффективное утепление зернохранилищ при помощи ППУ
            .article-list__body Хранение зерна и других сыпучих продуктов сельскохозяйственной деятельности, независимо от длительности, требует поддержания в зернохранилищах определенных микроклиматических условий.
            .article-list__footer
              .article-list__date 31 января 2017
              .article-list__info
                a.article-list__views(href="javascript:void(0)")
                  i.icon.icon--views
                  span 64
                a.article-list__comments(href="javascript:void(0)")
                  i.icon.icon--comments
                  span 15
        li.article-list__item
          a.article-list__img(href="javascript:void(0)")
            img(src="./assets/images/article-list-04.jpg", alt="")
          .article-list__content
            a.article-list__title(href="javascript:void(0)") Утепление канализационных труб: материалы, способы, необходимость
            .article-list__body Замерзшие канализационные трубы могут крайне усложнить нормальную жизнь в доме, а проведение их размораживания затратно и хлопотно. Поэтому, если они пролегают на глубине меньшей, чем глубина ...
            .article-list__footer
              .article-list__date 30 января 2017
              .article-list__info
                a.article-list__views(href="javascript:void(0)")
                  i.icon.icon--views
                  span 83
                a.article-list__comments(href="javascript:void(0)")
                  i.icon.icon--comments
                  span 11
        li.article-list__item
          a.article-list__img(href="javascript:void(0)")
            img(src="./assets/images/article-list-05.jpg", alt="")
          .article-list__content
            a.article-list__title(href="javascript:void(0)") Эффективное утепление зернохранилищ при помощи ППУ
            .article-list__body Хранение зерна и других сыпучих продуктов сельскохозяйственной деятельности, независимо от длительности, требует поддержания в зернохранилищах определенных микроклиматических условий.
            .article-list__footer
              .article-list__date 31 января 2017
              .article-list__info
                a.article-list__views(href="javascript:void(0)")
                  i.icon.icon--views
                  span 64
                a.article-list__comments(href="javascript:void(0)")
                  i.icon.icon--comments
                  span 15


      include ./components/paginator/paginator.pug
