extends ./index.pug

block content
  .container.internal

    .sidebar
      .subnav
        .subnav__title Услуги
        ul.subnav__items
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--home
              | Жилое утепление
          li.subnav__item
            a.subnav__link(href="./services.html")
              i.icon.icon--factory
              | Промышленное утепление
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--drop
              | Гидроизоляция
          li.subnav__item
            a.subnav__link(href="javascript:void(0)")
              i.icon.icon--guard
              | Защита от коррозии и износа

      include ./components/request/request.pug

      button.btn.btn--black
        i.icon.icon--expert
        span Задать вопрос эксперту

    .content.services
      include ./components/breadcrumbs/breadcrumbs.pug
      h3 Услуги
      .services__index-images
        a.services__index-images-link(href="javascript:void(0)")
          img(src="./assets/images/srvices-all-01.jpg", alt="")
          .services__index-images-content
            .services__index-images-icon
              i.icon.icon--home
            .services__index-images-title Жилое утепление
        a.services__index-images-link(href="javascript:void(0)")
          img(src="./assets/images/srvices-all-02.jpg", alt="")
          .services__index-images-content
            .services__index-images-icon
              i.icon.icon--factory
            .services__index-images-title Промышленное утепление
        a.services__index-images-link(href="javascript:void(0)")
          img(src="./assets/images/srvices-all-03.jpg", alt="")
          .services__index-images-content
            .services__index-images-icon
              i.icon.icon--drop
            .services__index-images-title Гидроизоляция
        a.services__index-images-link(href="javascript:void(0)")
          img(src="./assets/images/srvices-all-04.jpg", alt="")
          .services__index-images-content
            .services__index-images-icon
              i.icon.icon--guard
            .services__index-images-title Защита от коррозии и износа

      p На пути владельцев ангаров часто встает такая задача как теплоизоляция таких помещений, что для многих является настоящей проблемой в силу большого количества обстоятельств. На современном отечественном рынке представлено огромное число утеплителей – главное не ошибиться с выбором!
      p Главным фактором при выборе теплоизоляционного материала является форма и размеры помещений. Если с большой площадью минеральная вата сможет справиться, то, например, с арочными конструкциями возникнет проблема. Даже если вам утеплят ангар таким способом – как результат, образуются зазоры и щели, а после небольшого срока эксплуатации – конденсат.
      p Чтобы избежать таких ситуаций и негативных последствий, оптимальный вариант – утепление пенополиуретаном УГИС – ИНТЕРСКОЛ.
      p Технология этого материала позволяет заполнить даже самые малейшие пространства, предотвращая тепловые потери. Более того, еще одним важным преимуществом ППУ для владельцев ангаров считается срок монтажа. Сотрудники компании проведут теплоизоляцию до 500 м2 за день, а также не оставят никаких обрезков материала, мусора и пыли.
