extends ./index.pug

block content
  .container.internal

    .sidebar
      .subnav
        .subnav__title О компании
        ul.subnav__items
          li.subnav__item
            a.subnav__link(href="./about.html")
              i.icon.icon--info
              | О нас
          li.subnav__item
            a.subnav__link.subnav__link--active(href="./setificate.html")
              i.icon.icon--document-white
              | Сертификаты
          li.subnav__item
            a.subnav__link(href="./faq.html")
              i.icon.icon--help
              | Вопросы и ответы

      include ./components/request/request.pug

      button.btn.btn--black
        i.icon.icon--expert
        span Задать вопрос эксперту

    .content
      include ./components/breadcrumbs/breadcrumbs.pug
      h3 Сертификаты
      p Здесь представлены документы по сертификации, протоколы испытаний, заключения, дипломы и т.д., подтверждающие качество материала УГИС – ИНТЕРСКОЛ государственными и международными стандартами.
      h4 Сертификат на присвоение Г1 и Г2
      .images.js-images-slider
        img(src="./assets/images/sertificate-01.jpg", alt="")
        img(src="./assets/images/sertificate-02.jpg", alt="")
        img(src="./assets/images/sertificate-01.jpg", alt="")
      h4 Протокол испытаний материала в СПбГАСУ
      .images.js-images-slider
        img(src="./assets/images/sertificate-01.jpg", alt="")
        img(src="./assets/images/sertificate-01.jpg", alt="")
        img(src="./assets/images/sertificate-01.jpg", alt="")
      h4 Сертификат соответствия экологической безопасности
      .images.js-images-slider
        img(src="./assets/images/sertificate-01.jpg", alt="")
        img(src="./assets/images/sertificate-01.jpg", alt="")
        img(src="./assets/images/sertificate-01.jpg", alt="")
