.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  border: 0 none;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  &--default {
    padding: 12px 27px;
    color: $black;
    background-color: $white;
    font-size: 14px;
  }
  &--accent {
    padding: 12px 27px;
    color: $white;
    background-color: $red;
    font-size: 14px;
  }
  &--close {
    width: 40px;
    height: 40px;
    background-color: #1a1a1a;
    border-radius: 0;
    &::before,
    &::after {
      display: block;
      position: absolute;
      content: "";
      top: 19px;
      left: 10px;
      width: 21px;
      height: 1px;
      background-color: $white;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
  &--black {
    width: 100%;
    padding: 16px 4px;
    color: $white;
    background-color: $black;
    font-size: 14px;
  }
  .icon {
    margin-right: 10px;
  }
}
