/* Common Styles
----------------------------------------------------------------------------- */
html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background-color: $bg-color; 
  font-family: $primary-font;
}

*,
*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: 0 none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color $slow;

}

textarea {
  resize: vertical;
}

hr {
  display: block;
  height: 1px;
  border: 0 none;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;
}


.title-h3 {
  color: #333;
  font-size: 22px;
  @media (min-width: 768px) {
    font-size: 30px;
  }
}
.title-h4 {
  font-size: 18px;
  @media (min-width: 768px) {
    font-size: 22px;
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  @media (min-width: 980px) {
    max-width: 980px;
  }
  @media (min-width: 1440px) {
    max-width: 1170px;
  }
}

.internal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $white;
  @media (min-width: 768px) {
    padding: 34px;
  }
  @media (min-width: 920px) {
    flex-direction: row;
    padding: 30px 20px;
  }
  @media (min-width: 1440px) {
    padding: 30px;
  }
}

.sidebar {
  order: 1;
  @media (min-width: 920px) {
    order: 0;
    min-width: 220px;
  }
  @media (min-width: 1440px) {
    min-width: 255px;
  }
}

.content {
  order: 0;
  width: 100%;
  padding-bottom: 34px;
  @media (min-width: 768px) {
    padding-bottom: 50px;
  }
  @media (min-width: 920px) {
    order: 1;
    padding-left: 40px;
  }
  @media (min-width: 1440px) {
    padding-left: 50px;
  }
  h3 {
    margin: 9px 0 22px 0;
    color: #333;
    font-size: 22px;
    font-weight: 400;
    @media (min-width: 768px) {
      margin: 9px 0 36px 0;
      font-size: 30px;
    }
  }
  h4 {
    margin: 30px 0;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    @media (min-width: 768px) {
      font-size: 22px;
    }
  }
  p {
    color: $txt-color;
    font-size: 13px;
    line-height: 20px;
    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  p + p {
    margin-top: 16px;
    @media (min-width: 768px) {
      margin-top: 22px;
    }
  }
}

.images {
  margin-bottom: 40px;
  touch-action: manipulation;
  @media (max-width: 767px) {
    width: 220px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  img {
    width: 100%;
    height: auto;
    @media (min-width: 768px) {
      max-width: 220px;
    }
    @media (min-width: 920px) {
      max-width: 215px;
    }
    @media (min-width: 1440px) {
      max-width: 250px;
    }
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black, 0.7);
  z-index: 99;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
