@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/open-sans-v13-latin-regular.eot");
  src: local("Open Sans"), local("OpenSans"),
    url("../assets/fonts/open-sans-v13-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/open-sans-v13-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/open-sans-v13-latin-regular.woff") format("woff"),
    url("../assets/fonts/open-sans-v13-latin-regular.ttf") format("truetype"),
    url("../assets/fonts/open-sans-v13-latin-regular.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/open-sans-v13-latin-700.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../assets/fonts/open-sans-v13-latin-700.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/open-sans-v13-latin-700.woff2") format("woff2"),
    url("../assets/fonts/open-sans-v13-latin-700.woff") format("woff"),
    url("../assets/fonts/open-sans-v13-latin-700.ttf") format("truetype"),
    url("../assets/fonts/open-sans-v13-latin-700.svg#OpenSans") format("svg");
}
