.input,
.textarea {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background-color: $white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  &::placeholder {
    color: $txt-color;
    font-size: 14px;
  }
}
.textarea {
  padding: 10px;
  overflow: hidden;
  resize: none;
}
.input-count {
  position: relative;
  min-width: 75px;
  max-width: 120px;
  input {
    color: #666;
  }
  &__btn {
    display: block;
    position: absolute;
    right: 0;
    width: 25px;
    height: 28px;
    color: #666;
    background-color: transparent;
    font-size: 16px;
    line-height: 25px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 1px solid #ccc;
    cursor: pointer;
    &--plus {
      top: 0;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    &--minus {
      bottom: 0;
    }
  }
}
