@svg-load fb url(../assets/images/icons/icon-fb.svg) {
  path:nth-child(1) {
    fill: #3c3c3c;
  }
}
@svg-load vk url(../assets/images/icons/icon-vk.svg) {
  path:nth-child(1) {
    fill: #3c3c3c;
  }
}
@svg-load tw url(../assets/images/icons/icon-tw.svg) {
  path:nth-child(1) {
    fill: #3c3c3c;
  }
}

@svg-load star url(../assets/images/icons/icon-star.svg) {
  path:nth-child(1) {
    fill: #bbb;
  }
}
@svg-load star-active url(../assets/images/icons/icon-star.svg) {
  path:nth-child(1) {
    fill: #df0101;
  }
}

@svg-load arrow url(../assets/images/icons/icon-menu-arrow.svg) {
  path:nth-child(1) {
    stroke: #fff;
  }
}


.icon {
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
  line-height: inherit;
  background-repeat: no-repeat;

  &--phone,
  &--email,
  &--callback,
  &--callback-white,
  &--search,
  &--info,
  &--info-white,
  &--help,
  &--help-white,
  &--home {
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-size: 16px;
  }
  &--phone {
    background-image: url(../assets/images/icons/icon-phone.png);
  }
  &--email {
    top: 1px;
    background-image: url(../assets/images/icons/icon-mail.png);
  }
  &--callback {
    background-image: url(../assets/images/icons/icon-callback.png);
  }
  &--callback-white {
    background-image: url(../assets/images/icons/icon-callback-white.png);
  }
  &--search {
    background-image: url(../assets/images/icons/icon-search.png);
  }
  &--info {
    background-image: url(../assets/images/icons/icon-info.png);
  }
  &--info-white {
    background-image: url(../assets/images/icons/icon-info-white.png);
  }
  &--help {
    background-image: url(../assets/images/icons/icon-help.png);
  }
  &--help-white {
    background-image: url(../assets/images/icons/icon-help-white.png);
  }
  &--home {
    background-image: url(../assets/images/icons/icon-home.png);
  }

  &--document,
  &--document-white {
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-size: 13px 16px;
  }
  &--document {
    background-image: url(../assets/images/icons/icon-document.png);
  }
  &--document-white {
    background-image: url(../assets/images/icons/icon-document-white.png);
  }
  &--guard {
    width: 14px;
    height: 16px;
    line-height: 16px;
    background-image: url(../assets/images/icons/icon-guard.png);
    background-size: 14px 16px;
  }
  &--factory,
  &--factory-white {
    top: -2px;
    width: 14px;
    height: 14px;
    line-height: 16px;
    background-size: 14px;
  }
  &--factory {
    background-image: url(../assets/images/icons/icon-factory.png);
  }
  &--factory-white {
    background-image: url(../assets/images/icons/icon-factory-white.png);
  }
  &--drop {
    width: 10px;
    height: 14px;
    line-height: 16px;
    background-image: url(../assets/images/icons/icon-drop.png);
    background-size: 10px 14px;
  }
  &--send {
    width: 19px;
    height: 17px;
    line-height: 17px;
    background-image: url(../assets/images/icons/icon-send.png);
    background-size: 19px 17px;
  }
  &--comments {
    width: 16px;
    height: 14px;
    background-image: url(../assets/images/icons/icon-comments.png);
    background-size: 16px 14px;
  }
  &--cart {
    width: 26px;
    height: 22px;
    background-image: url(../assets/images/icons/icon-cart.png);
    background-size: 26px 22px;
  }
  &--hangar-white {
    width: 17px;
    height: 16px;
    background-image: url(../assets/images/icons/icon-hangar-white.png);
    background-size: 17px 10px;
    background-position-y: 3px;
  }
  &--roof {
    width: 16px;
    height: 16px;
    background-image: url(../assets/images/icons/icon-roof.png);
    background-size: 16px;
    background-position-y: 4px;
  }
  &--wall {
    width: 13px;
    height: 16px;
    background-image: url(../assets/images/icons/icon-wall.png);
    background-size: 13px;
    background-position-y: 1px;
  }
  &--facades {
    width: 16px;
    height: 16px;
    background-image: url(../assets/images/icons/icon-facades.png);
    background-size: 16px;
  }
  &--floor {
    width: 16px;
    height: 16px;
    background-image: url(../assets/images/icons/icon-floor.png);
    background-size: 16px 8px;
    background-position-y: 4px;
  }
  &--foundation {
    width: 16px;
    height: 16px;
    background-image: url(../assets/images/icons/icon-foundation.png);
    background-size: 16px 4px;
    background-position-y: 6px;
  }



  &--burger {
    top: -1px;
    width: 30px;
    height: 21px;
    background: svg-load('../assets/images/icons/icon-burger-menu.svg');
    background-size: 30px 21px;
    background-repeat: no-repeat;
  }
  &--expert {
    top: -1px;
    width: 19px;
    height: 19px;
    background: svg-load('../assets/images/icons/icon-expert.svg');
    background-size: 19px;
    background-repeat: no-repeat;
  }
  &--load {
    left: -1px;
    width: 22px;
    height: 22px;
    background: svg-load('../assets/images/icons/icon-load.svg');
    background-size: 20px 22px;
    background-repeat: no-repeat;
  }
  &--views {
    width: 20px;
    height: 12px;
    background: svg-load('../assets/images/icons/icon-views.svg');
    background-size: 20px 12px;
    background-repeat: no-repeat;
  }
  &--zoom {
    width: 16px;
    height: 16px;
    background: svg-load('../assets/images/icons/icon-zoom.svg');
    background-size: 16px;
    background-repeat: no-repeat;
  }

  &--fb {
    background: svg-inline(fb);
    background-size: 36px;
  }
  &--vk {
    background: svg-inline(vk);
    background-size: 36px;
  }
  &--tw {
    background: svg-inline(tw);
    background-size: 37px;
  }
  &--fb,
  &--vk,
  &--tw {
    top: -1px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
  }

  &--star {
    background: svg-inline(star);
  }
  &--star-active {
    background: svg-inline(star-active);
  }
  &--star,
  &--star-active {
    width: 19px;
    height: 19px;
    background-size: 19px;
    background-repeat: no-repeat;
  }

  &--arrow {
    top: 12px;
    left: 20px;
    width: 17px;
    height: 17px;
    background: svg-inline(arrow);
    background-repeat: no-repeat;
    transform: rotate(-90deg);
  }
}
