.table {
  @media (min-width: 768px) {
    .tabs__item & {
      height: 270px;
    }
    .tabs__item--noscroll & {
      height: auto;
    }
  }
  &__row {
    @media (min-width: 768px) {
      display: flex;
    }
    &:nth-child(odd) {
      @media (min-width: 768px) {
        background-color: #f5f5f5;
      }
    }
    &:nth-child(even) {
      @media (max-width: 767px) {
        background-color: #f5f5f5;
      }
    }
    > div {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 13px;
      @media (min-width: 768px) {
        padding: 11px 18px;
        font-size: 14px;
      }
      &:nth-child(1) {
        color: #666;
        @media (max-width: 767px) {
          padding-top: 14px;
        }
        @media (min-width: 768px) {
          width: 60%;
        }
      }
      &:nth-child(2) {
        color: #333;
        @media (max-width: 767px) {
          padding-top: 4px;
          padding-bottom: 14px;
        }
        @media (min-width: 768px) {
          width: 40%;
        }
      }
      &._right {
        @media (min-width: 768px) {
          text-align: right;
        }
      }
    }
  }
}


.content-table {
  position: relative;
  @media (max-width: 414px) {
    margin-right: -20px;
  }
  &__wrapper {
    overflow-x: auto;
  }
  &__icon {
    display: block;
    position: absolute;
    right: 10px;
    bottom: -8px;
    width: 45px;
    height: 45px;
    background-color: $red;
    border-radius: 50%;
    cursor: pointer;
    @media (min-width: 415px) {
      display: none;
    }
  }
  &__body {
    font-size: 12px;
    border-spacing: 0;
    border-collapse: collapse;
    @media (max-width: 414px) {
      margin-bottom: 14px;
    }
    @media (min-width: 768px) {
      font-size: 14px;
    }
    tr:nth-child(odd) {
      background-color: #f5f5f5;
      td:first-child:not('._active') {
        background-color: #ccc;
      }
    }
    tr:nth-child(even) {
      td:first-child {
        background-color: #e0e0e0;
      }
    }
    tr:nth-child(2) {
      td:first-child {
        .gallery__table & {
          background-color: #fff;
        }
      }
    }
    tr td:last-child {
      border-right: 1px solid #dcdcdc;
      &._active {
        border-right: 1px solid $red;
      }
    }

    tr:last-child td._active {
      border-bottom: 1px solid $red;
    }

    td {
      padding: 15px;
      color: #333;
      border-top: 1px solid #dcdcdc;
      border-left: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc;
      cursor: pointer;
      @media (max-width: 414px) {
        min-width: 140px;
      }
      &._header {
        vertical-align: top;
        padding: 15px;
        color: #fff;
        background-color: #1a1a1a;
        font-weight: 700;
        text-align: left;
        border: 1px solid #1a1a1a;
        &._active {
          background-color: $red;
          border: 1px solid $red;
        }
      }
      &._active {
        border-left: 1px solid $red;
        border-right: 1px solid $red;
      }
    }
  }
}
