// Colors
$black:               #000;
$white:               #fff;
$red:                 #df0101;
$mercury:             #e6e6e6;
$mine-shaft:          #333;
$dove-gray:           #666;
$dusty-gray:          #999;

$bg-color:            $mercury;
$main-header-color:   $mine-shaft;
$txt-color:           $dove-gray;
$txt-color-light:     $dusty-gray;




// Fonts
//$serif:               "Lora", "Playfair Display", Georgia, serif;
$sans-serif:          "Open Sans", Helvetica, Arial, sans-serif;
//$monospace:           "Inconsolata", monospace;


$primary-font:        $sans-serif;
//$secondary-font:      $serif;


$fast:                150ms;
$slow:                350ms;
