.nav {
  position: relative;
  &--mobile {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 100;
    transition: right $slow ease-in-out;
    @media (min-width: 920px) {
      display: none;
    }
  }
  &--top,
  &--footer {
    display: none;
    @media (min-width: 920px) {
      display: block;
    }
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -64px;
    width: 64px;
    height: 64px;
    background-color: #161616;
    @media (min-width: 768px) {
      width: 80px;
      height: 80px;
      left: -80px;
    }
    @media (min-width: 920px) {
      display: none;
    }
  }

  &__menu {
    width: 256px;
    padding-top: 64px;
    background-color: #1a1a1a;
    @media (min-width: 768px) {
      width: 334px;
      padding-top: 80px;
    }
    @media (min-width: 920px) {
      display: flex;
      width: 100%;
      padding: 0 10px;
    }
    @media (min-width: 1440px) {
      padding: 0 15px;
    }
  }

  &__submenu {
    display: none;
    overflow: hidden;
    @media (min-width: 920px) {
      display: none;
    }
  }

  &__item {
    transition: background-color 1s;
    &--active {
      background-color: #282828;
    }
    .nav__submenu & {
      background-color: #161616;
    }
    .icon {
      margin-right: 12px;
      @media (min-width: 768px) {
        margin-right: 20px;
      }
    }
    &:hover {
      background-color: #282828;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 0 10px 0 20px;
    color: $white;
    font-size: 11px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 70px;
      padding: 0 10px 0 25px;
    }
    @media (min-width: 920px) {
      width: auto;
      padding: 0 10px;
      font-size: 13px;
      line-height: 50px;
      text-align: center;
    }
    @media (min-width: 1440px) {
      padding: 0 15px;
      font-size: 14px;
    }
    &--submenu {
      position: relative;
      cursor: pointer;
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        right: 34px;
        width: 14px;
        height: 8px;
        margin-top: -4px;
        background: svg-load('../assets/images/icons/icon-menu-arrow.svg');
        background-size: 14px 8px;
        transition: transform $fast;
        .nav__item--active & {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__search {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 64px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #282828;
    overflow: hidden;
    transition: width $slow;
    @media (min-width: 768px) {
      height: 80px;
    }
    @media (min-width: 920px) {
      right: 50px;
      width: 0;
      height: 50px;
      background-color: #343434;
      border-bottom: 0;
    }
    &._active {
      width: calc(100% - 50px);
    }
  }

  &__search-field {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    @media (min-width: 768px) {
      height: 80px;
    }
    @media (min-width: 920px) {
      height: 50px;
    }
  }

  &__search-input {
    width: 174px;
    height: 42px;
    margin-left: 20px;
    padding-left: 10px;
    color: #dcdcdc;
    background-color: #343434;
    font-size: 14px;
    border: 0 none;
    @media (min-width: 768px) {
      width: 250px;
    }
    @media (min-width: 920px) {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0 20px;
      background-color: transparent;
      font-size: 16px;
    }
    &::placeholder {
      color: #dcdcdc;
      font-size: 12px;
      @media (min-width: 920px) {
        font-size: 14px;
      }
    }
  }

  &__search-btn {
    width: 42px;
    height: 42px;
    background-color: #343434;
    border: 0 none;
    cursor: pointer;
    @media (min-width: 920px) {
      display: none;
    }
  }

  &__search-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #343434;
    border: 0 none;
    cursor: pointer;
    @media (min-width: 920px) {
      display: block;
    }
  }

  &__contacts {
    padding: 80px 20px 0;
    background-color: #161616;
    @media (min-width: 768px) {
      padding: 80px 30px 0;
    }
    > a {
      display: block;
      color: #666666;
    }
    > a:nth-child(1) {
      font-size: 18px;
      line-height: 18px;
    }
    > a:nth-child(2) {
      font-size: 13px;
      line-height: 20px;
    }
  }

  &__social {
    padding: 24px 0;
  }

  &__social-link {
    display: inline-block;
    margin-right: 7px;
  }
}
