.nav(class=((search === true) ? 'nav--top' : 'nav--footer'))
  ul.nav__menu
    li.nav__item._active
      a.nav__link(href="/") Главное
    li.nav__item
      a.nav__link(href="./about.html") О компании
    li.nav__item
      a.nav__link(href="./services_all.html") услуги
    li.nav__item
      a.nav__link(href="./products.html") оборудование и продукция
    li.nav__item
      a.nav__link(href="./articles.html") статьи и материалы
    li.nav__item
      a.nav__link(href="./gallery.html") галерея
    li.nav__item
      a.nav__link(href="./contacts.html") контакты

  if search === true
    .nav__search.js-search
      form(action="javascript:void(0)")
        .nav__search-field
          input.nav__search-input.js-search-input(type="text", placeholder="Поиск по сайту")
          button.nav__search-btn(type="submit")
            i.icon.icon--search
    button.nav__search-toggle.js-search-toggle
      i.icon.icon--search


if search === true
  .nav.nav--mobile.js-nav
    a.nav__close.js-menu-close(href="javascript:void(0)")
      i.icon.icon--burger
    ul.nav__menu
      li.nav__item._active
        a.nav__link(href="/") Главное
      li.nav__item
        .nav__link.nav__link--submenu.js-submenu-toggle О компании
        ul.nav__submenu
          li.nav__item
            a.nav__link(href="./about.html")
              i.icon.icon--info
              | О нас
          li.nav__item
            a.nav__link(href="./setificate.html")
              i.icon.icon--document
              | Сертификаты
          li.nav__item
            a.nav__link(href="./faq.html")
              i.icon.icon--help
              | Вопросы и ответы
      li.nav__item
        .nav__link.nav__link--submenu.js-submenu-toggle услуги
        ul.nav__submenu
          li.nav__item
            a.nav__link(href="javascript:void(0)")
              i.icon.icon--home
              | Жилое утепление
          li.nav__item
            a.nav__link(href="javascript:void(0)")
              i.icon.icon--factory
              | Промышленное утепление
          li.nav__item
            a.nav__link(href="javascript:void(0)")
              i.icon.icon--drop
              | Гидроизоляция
          li.nav__item
            a.nav__link(href="javascript:void(0)")
              i.icon.icon--guard
              | Защита от коррозии и износа
      li.nav__item
        a.nav__link(href="./products.html") оборудование и продукция
      li.nav__item
        a.nav__link(href="./articles.html") статьи и материалы
      li.nav__item
        a.nav__link(href="./gallery.html") галерея
      li.nav__item
        a.nav__link(href="./contacts.html") контакты

    .nav__contacts
      a(href="tel:8-800-333-0330") 8 800-333-03-30
      a(href="mailto:info@name.ru") info@name.ru

      .nav__social
        a.nav__social-link(href="javascript:void(0)")
          i.icon.icon--fb
        a.nav__social-link(href="javascript:void(0)")
          i.icon.icon--vk
        a.nav__social-link(href="javascript:void(0)")
          i.icon.icon--tw

    .nav__search
      form(action="javascript:void(0)")
        .nav__search-field
          input.nav__search-input(type="text", placeholder="Поиск по сайту")
          button.nav__search-btn(type="submit")
            i.icon.icon--search
