.contacts {
  &__hot {
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
    span {
      color: #999;
      font-size: 13px;
      @media (max-width: 767px) {
        display: block;
        line-height: 20px;
      }
      @media (min-width: 768px) {
        display: inline-block;
        width: 30%;
        font-size: 14px;
      }
    }
    a {
      color: #333;
      font-size: 18px;
      @media (min-width: 768px) {
        font-size: 22px;
      }
    }
  }
  &__name {
    color: #333;
    font-size: 18px;
    line-height: 60px;
  }
  &__address {
    padding-bottom: 15px;
    font-size: 13px;
    line-height: 18px;
    @media (min-width: 768px) {
      display: flex;
      font-size: 14px;
    }

    div:nth-child(1) {
      color: #999;
      @media (min-width: 768px) {
        width: 30%;
      }
    }
    div:nth-child(2) {
      color: #333;
      @media (min-width: 768px) {
        width: 70%;
      }
    }
  }
  &__map {
    margin: 15px -20px 0;
    @media (min-width: 768px) {
      margin: 15px 0 0;
    }
    iframe {
      width: 100%;
      height: 206px;
      @media (min-width: 768px) {
        height: 450px;
      }
    }
  }
  &__details {
    color: #333;
    font-size: 18px;
    line-height: 60px;
  }
  .table {
    margin: 0 -20px;
    @media (min-width: 768px) {
      margin: 0;
    }
  }
}
