.accordion {
  counter-reset: accordion;
  > dt {
    border-bottom: 1px solid $white;
    counter-increment: accordion;
  }
  > dd {
    margin: 0;
    padding: 18px 44px;
    color: #666;
    background-color: #dcdcdc;
    font-size: 13px;
    line-height: 20px;
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
  &__link {
    display: block;
    position: relative;
    padding: 18px 44px;
    background-color: #f0f0f0;
    font-size: 13px;
    @media (min-width: 768px) {
      font-size: 14px;
    }
    &::before {
      position: absolute;
      left: 20px;
      color: #999;
      content: counter(accordion)".";
    }
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 13px;
      width: 14px;
      height: 8px;
      margin-top: -4px;
      background: svg-load('../assets/images/icons/icon-menu-arrow.svg');
      background-size: 14px 8px;
      transition: transform $fast;
    }
    &._active::after {
      transform: rotate(180deg);
    }
    > span {
      color: #333;
    }
  }
}
