dl.accordion.js-accordion
  dt
    a.accordion__link(href="javascript:void(0)")
      span Что такое пенополиуретан?
  dd Технология изготовления реагентов не предусматривает использование летучих и токсичных веществ. Тогда как в большинстве композитных материалов присутствуют опасные соединения (асбест, фенол, фенол-формальдегидные смолы и т. д.), пенополиуретан «Экотермикс» получают в эмульсиях на основе воды и растительных масел. В процессе эксплуатации полимер также не выделяет озоноразрушающих и ядовитых газов. Поэтому пена совсем не имеет запаха.
  dt
    a.accordion__link(href="javascript:void(0)")
      span Многие современные материалы имеют резкий запах. Пахнет ли чем-нибудь пенополиуретан?
  dd Технология изготовления реагентов не предусматривает использование летучих и токсичных веществ. Тогда как в большинстве композитных материалов присутствуют опасные соединения (асбест, фенол, фенол-формальдегидные смолы и т. д.), пенополиуретан «Экотермикс» получают в эмульсиях на основе воды и растительных масел. В процессе эксплуатации полимер также не выделяет озоноразрушающих и ядовитых газов. Поэтому пена совсем не имеет запаха.
  dt
    a.accordion__link(href="javascript:void(0)")
      span Чем отличается пенополиуретан от более дешевых материалов? В чем выгода его использования?
  dd Технология изготовления реагентов не предусматривает использование летучих и токсичных веществ. Тогда как в большинстве композитных материалов присутствуют опасные соединения (асбест, фенол, фенол-формальдегидные смолы и т. д.), пенополиуретан «Экотермикс» получают в эмульсиях на основе воды и растительных масел. В процессе эксплуатации полимер также не выделяет озоноразрушающих и ядовитых газов. Поэтому пена совсем не имеет запаха.
  dt
    a.accordion__link(href="javascript:void(0)")
      span Чем отличается пенополиуретан от других современных утеплителей?
  dd Технология изготовления реагентов не предусматривает использование летучих и токсичных веществ. Тогда как в большинстве композитных материалов присутствуют опасные соединения (асбест, фенол, фенол-формальдегидные смолы и т. д.), пенополиуретан «Экотермикс» получают в эмульсиях на основе воды и растительных масел. В процессе эксплуатации полимер также не выделяет озоноразрушающих и ядовитых газов. Поэтому пена совсем не имеет запаха.
  dt
    a.accordion__link(href="javascript:void(0)")
      span Производитель заявляет о паропроницаемости пенополиуретана. Что это значит?
  dd Технология изготовления реагентов не предусматривает использование летучих и токсичных веществ. Тогда как в большинстве композитных материалов присутствуют опасные соединения (асбест, фенол, фенол-формальдегидные смолы и т. д.), пенополиуретан «Экотермикс» получают в эмульсиях на основе воды и растительных масел. В процессе эксплуатации полимер также не выделяет озоноразрушающих и ядовитых газов. Поэтому пена совсем не имеет запаха.
  dt
    a.accordion__link(href="javascript:void(0)")
      span Чем отличается пенополиуретан от более дешевых материалов? В чем выгода его использования?
  dd Технология изготовления реагентов не предусматривает использование летучих и токсичных веществ. Тогда как в большинстве композитных материалов присутствуют опасные соединения (асбест, фенол, фенол-формальдегидные смолы и т. д.), пенополиуретан «Экотермикс» получают в эмульсиях на основе воды и растительных масел. В процессе эксплуатации полимер также не выделяет озоноразрушающих и ядовитых газов. Поэтому пена совсем не имеет запаха.
  dt
    a.accordion__link(href="javascript:void(0)")
      span Чем отличается пенополиуретан от других современных утеплителей?
  dd Технология изготовления реагентов не предусматривает использование летучих и токсичных веществ. Тогда как в большинстве композитных материалов присутствуют опасные соединения (асбест, фенол, фенол-формальдегидные смолы и т. д.), пенополиуретан «Экотермикс» получают в эмульсиях на основе воды и растительных масел. В процессе эксплуатации полимер также не выделяет озоноразрушающих и ядовитых газов. Поэтому пена совсем не имеет запаха.
  dt
    a.accordion__link(href="javascript:void(0)")
      span Производитель заявляет о паропроницаемости пенополиуретана. Что это значит?
  dd Технология изготовления реагентов не предусматривает использование летучих и токсичных веществ. Тогда как в большинстве композитных материалов присутствуют опасные соединения (асбест, фенол, фенол-формальдегидные смолы и т. д.), пенополиуретан «Экотермикс» получают в эмульсиях на основе воды и растительных масел. В процессе эксплуатации полимер также не выделяет озоноразрушающих и ядовитых газов. Поэтому пена совсем не имеет запаха.
  dt
    a.accordion__link(href="javascript:void(0)")
      span Чем отличается пенополиуретан от более дешевых материалов? В чем выгода его использования?
  dd Технология изготовления реагентов не предусматривает использование летучих и токсичных веществ. Тогда как в большинстве композитных материалов присутствуют опасные соединения (асбест, фенол, фенол-формальдегидные смолы и т. д.), пенополиуретан «Экотермикс» получают в эмульсиях на основе воды и растительных масел. В процессе эксплуатации полимер также не выделяет озоноразрушающих и ядовитых газов. Поэтому пена совсем не имеет запаха.
  dt
    a.accordion__link(href="javascript:void(0)")
      span Производитель заявляет о паропроницаемости пенополиуретана. Что это значит?
  dd Технология изготовления реагентов не предусматривает использование летучих и токсичных веществ. Тогда как в большинстве композитных материалов присутствуют опасные соединения (асбест, фенол, фенол-формальдегидные смолы и т. д.), пенополиуретан «Экотермикс» получают в эмульсиях на основе воды и растительных масел. В процессе эксплуатации полимер также не выделяет озоноразрушающих и ядовитых газов. Поэтому пена совсем не имеет запаха.
