.paginator {
  display: none;
  margin-top: 40px;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    display: block;
    position: relative;
    width: 36px;
    height: 36px;
    color: #333;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    .paginator__pages & {
      margin: 0 5px;
    }
    &--prev,
    &--next {
      background-color: #ccc;
    }
    &--prev {
      svg {
        left: 12px;
      }
    }
    &--next {
      svg {
        right: 12px;
      }
    }
    &--active {
      color: $white;
      background-color: $red;
    }
    svg {
      position: absolute;
      top: 50%;
      width: 60%;
      transform: translateY(-50%);
    }
  }
  &__arrow {
    fill: $white;
  }
  &__pages {
    display: flex;
  }
}

.load-more {
  margin-top: 40px;
  text-align: center;
  @media (min-width: 768px) {
    display: none;
  }
  &__link {
    padding: 0 15px;
    color: #333;
    font-size: 14px;
    line-height: 40px;
    &--wait {
      .icon {
        animation-name: rotation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
