.paginator
  a.paginator__btn.paginator__btn--prev(href="javascript:void(0)")
    <svg viewBox="0 0 100 100"><path d="M 10,50 L 35,75 L 40,70 L 20,50  L 40,30 L 35,25 Z" class="paginator__arrow"></path></svg>
  .paginator__pages
    span.paginator__btn.paginator__btn--active 1
    a.paginator__btn(href="javascript:void(0)") 2
    a.paginator__btn(href="javascript:void(0)") 3
    a.paginator__btn(href="javascript:void(0)") 4
    a.paginator__btn(href="javascript:void(0)") 5
    a.paginator__btn(href="javascript:void(0)") 6
    a.paginator__btn(href="javascript:void(0)") 7
    a.paginator__btn(href="javascript:void(0)") 8
    a.paginator__btn(href="javascript:void(0)") 9
  a.paginator__btn.paginator__btn--next(href="javascript:void(0)")
    <svg viewBox="0 0 100 100"><path d="M 10,50 L 35,75 L 40,70 L 20,50  L 40,30 L 35,25 Z" class="paginator__arrow" transform="translate(100, 100) rotate(180) "></path></svg>

.load-more
  a.load-more__link.load-more__link--wait.btn(href="javascript:void(0)")
    i.icon.icon--load
    span Загрузить еще
